{% extends "base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="/static/css/alterLSF.css?u={{lastStaticUpdate}}" />
{% endblock %}

{% block scripts %}
    {{super()}}
    <script language="JavaScript" type="text/javascript" src="/static/js/alterLSF.js?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<a class="skipContent" href="#supervisor" tabindex="1">Click to Skip</a>
<div align="center">
  <h2>{{title}}</h2>
</div>
 <form id="alterLSF">
   <div class="container">
       <div>
           <p class="required-mark">* Marked fields are required</p>
       </div>
   <div class="floatleft">
       <div class="form-group">
         <label for="Student">Student</label> <!--User CANNOT edit-->
         <div>
           <input type="text" class="form-control" id="Student" value="{{prefillstudent}}" disabled> <!--User CANNOT edit-->
         </div>
       </div>
       <div class="form-group">
         <label for="supervisor" class="field"><span class="tooltip-right" data-tooltip="Required">Supervisor<span class="required-mark"> *</span></span></label>
         <div class="change">
           <select required
                class="selectpicker form-control newValue"
                id="supervisor"
                onchange="checkSupervisor()"
                data-live-search="true">
                {% for sup in supervisors %}
                    <option title="{{sup.FIRST_NAME}} {{sup.LAST_NAME}}" value="{{sup.ID}}" {% if form.supervisor.ID == sup.ID %} selected {% endif %}>{{sup.FIRST_NAME}} {{sup.LAST_NAME}}</option>
                {% endfor %}
           </select>
            <input hidden class = "oldValue"  id= "prefillsupervisor"value="{{oldSupervisor.ID}}" > </input> <!-- stores value of original-->
         </div>
       </div>
       <div class="form-group">
         <label for="Department">Department</label> <!--User CANNOT edit-->
         <div>
           <input type="text" class="form-control" id="Department" value="{{prefilldepartment}}" disabled> <!--User CANNOT edit-->
         </div>
       </div>
       <div class="form-group">
         <label for="position" class="field"><span class="tooltip-right" data-tooltip="Required">Position<span class="required-mark"> *</span></span></label>
         <div  class="change">
           <select required
                class="selectpicker form-control newValue"
                id="position"
                data-live-search="true"
                onchange="fillHoursPerWeek()">
                {% for position in positions %}
                <option value="{{position.POSN_CODE}}" data-wls={{position.WLS}} {% if position.POSN_CODE == prefillposition %} selected {% endif %} >{{position.POSN_TITLE}} ({{position.WLS}})</option>
                {% endfor %}
           </select>
           <input hidden class = "oldValue"  id= "prefillposition" value="{{prefillposition}}"></input>
         </div>
       </div>
       <!-- This selectpicker will be disabled if term is for a break, since jobtype is always Secondary-->
       <div class="form-group">
         <label for="jobType">Job Type</label> <!--User CANNOT edit-->
         <div>
           <input type="text" class="form-control" id="jobType" value="{{prefilljobtype}}" disabled> <!--User CANNOT edit-->
         </div>
       </div>
   </div>
  <div class= "floatright" >
     <div class="form-group">
       <label for="Term">Term</label> <!--User CANNOT edit-->
       <div >
         <input type="text" class="form-control" id="Term" value="{{prefillterm.termName}}" data-termCode = "{{prefillterm.termCode}}"disabled> <!--User CANNOT edit-->
         <input hidden id="termBreak" data-termBreak="{{prefillterm.isBreak|lower}}"> </input>
       </div>
     </div>
     {% if title == "Labor Status Correction Form" and currentUser.isLaborAdmin %}
     <div class="form-group col-xs-12" id="datePickerDiv">
         <div  class="form-group col-xs-6" id="startDateStyle">
           <!--datePicker for start date-->
           <label for="dateTimePicker1" id="datePickerStart"><span class="tooltip-right" data-tooltip="Required">Start Date<span class="required-mark">*</span></span></label>
             <div class='input-group date'>
               <input type='text' class="form-control disable" id='dateTimePicker1' name="startDate" value="{{prefillstartdate}}" data-width="320px" onchange="updateDate(this)" />
               <input hidden class="oldValue" id="prefillstartdate" value= {{prefillstartdate}}></input>
               <span class="input-group-addon" id="calendarIcon1">
                 <span class="glyphicon glyphicon-calendar"></span>
               </span>
             </div>
         </div>
         <div class="form-group col-xs-6" id ="endDateStyle">
           <!--datePicker for End date-->
         <label for="dateTimePicker2" id="datePickerEnd"><span class="tooltip-right" data-tooltip="Required">End Date<span class="required-mark">*</span></span></label>
           <div class='input-group date'>
               <input type='text' class="form-control disable" id='dateTimePicker2' name="endDate" value="{{prefillenddate}}" data-width="320px" onchange="updateDate(this)" />
               <input hidden class="oldValue" id="prefillenddate" value= {{prefillenddate}}></input>
               <span class="input-group-addon" id="calendarIcon2">
                 <span class="glyphicon glyphicon-calendar"></span>
               </span>
           </div>
         </div>​
       </div>
       {% endif %}

     <div id="contractHoursDiv" class="form-group newValue">
        <!-- Contract hours for breaks -->
           <label for="contractHours"><span class="tooltip-right" data-tooltip="Required">Total Contract Hours<span class="required-mark"> *</span></span></label>
           <div  class="change">
             <input class="form-control quantity newValue disable"
                     type = "number"
                     name='contractHours'
                     id='contractHours'
                     title= "{{prefillhours}}"
                     placeholder="Total Contract Hours"
                     min = "1"
                     value = "{{prefillhours}}"
                     oninput="this.value = Math.abs(this.value); this.value = parseInt(this.value)||0">
             </input>
             <input hidden class = "oldValue"  id= "oldContractHours" value="{{prefillhours}}"></input>
          </div>
        </div>
        <div id="weeklyHoursDiv" class="form-group">
            <label for="weeklyHours"><span class="tooltip-right" data-tooltip="Required">Hours Per Week<span class="required-mark"> *</span></span></label>
            <div  class="change">
                <select  type="number"
                         class="selectpicker form-control newValue"
                         id="weeklyHours"
                         name='selectedHoursPerWeek'
                         data-live-search="true"
                         title = "{{prefillhours}}"
                         onchange="checkWLS20()">
                </select>
                <input hidden class = "oldValue"  id= "oldWeeklyHours" value="{{prefillhours}}">  </input>
                <input hidden class = "totalHours"  id= "totalHours" value="{{totalHours}}"></input>
            </div>
        </div>

    <!-- This conditional will add the datetime picker for Adjust LSF instances -->
    {% if title == "Adjust Labor Status Form" %}
    <div class="form-group" id= "dateDiv">
    <label for="datetimepicker" class="required-asterisk"><span class="tooltip-right" data-tooltip="Required">Date Needed<span class="required-mark"> *</span></span></label>
      <div class="input-group date"  class="change">
        <input type="text" class="form-control effectiveDate" id="datetimepicker0" placeholder="MM/DD/YYYY" required readonly> <!--Should prefill with todays date though// effective date does not have old/new value comparison-->
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
     </div>
     {% endif %}

     <div class="form-group" >
       <label for="supervisorNotes"><span class="tooltip-right" data-tooltip="Required">Notes<span class="required-mark"> *</span></span></label>
       <div class ="change">
         <textarea required name="supervisorNotes" rows="8" cols="65" id="supervisorNotes" class = "newValue"></textarea>
       </div>
     </div>
     <div class="logNotesDiv">
       <h4 class=" control-label text-left" id="notesLogHeader" for="notesLog">Notes Log:</h4>
        {% for note in notes %}
          <dl class='dl-horizontal text-left'><strong>{{note.date.strftime('%m/%d/%Y')}} | <i>{{note.createdBy.supervisor.FIRST_NAME[0]}}. {{note.createdBy.supervisor.LAST_NAME}}</i> | </strong>{{note.notesContents}}</dl>
        {% endfor %}
     </div>
  </div>
  </div>

    <div class="container">
      <div class="floatleft">
        <button type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;">Cancel</button>
      </div>
      <div class="submitbutton">
        <button id="submit" type="button" class="btn btn-success" onclick="checkForChange()">Submit Changes</button>
      </div>
    </div>
    {% include "snips/adjustLSFNoChange.html" %}
    {% include "snips/adjustLSFSubmit.html" %}
    {% include "snips/LSFModals.html" %}

 </form>

{% endblock %}
