{% extends "base.html" %}
{% set currentPage = "contributors" %}
{% block app_content %}
<div id="wrapper">
  <div class ="container">
    <div class="contributors" id="List of Names" align= "center">  
      <h2>Contributors </h2>
      <p> These are the students who helped to create this system and continue to maintain it.</p>
      <table class="table table-bordered" style = "width:50%" align="center">   
        <tr class"info"> 
          <th>Name</th>
          <th>Graduating Year</th>
        </tr>
      {% for contrib in cfg.contributors %}
        <tr class"info">
          <td>{{contrib.name}}</td>
          <td>{{contrib.year}}</td>
        </tr>
      {% endfor %}
      </table>  
    </div>
  </div>
  <div class= "btn-holder">
    <button type='button' class='btn btn-newcolor' style="padding: 7px 30px; margin-top: 5px; margin-left: 150px" onclick ="history.back()">Back</button>
  </div>
</div>
{% endblock %}
<br>
