{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/css/formHistory.css?u={{lastStaticUpdate}}"/>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/laborhistory.js?u={{lastStaticUpdate}}"></script>
{% endblock %}
{% block app_content %}

<a class="skipContent" href="#downloadButton" tabindex="1">Click to Skip</a>
<div align= "center">
  <h1>Labor History</h1>
    <span id="studentName">{{student.FIRST_NAME}} {{student.LAST_NAME}} </span> <a href="mailto:{{student.STU_EMAIL}}" id="studentName"><span id="mailtoIcon" class="glyphicon glyphicon-envelope"></span></a>
    <br><span class="h4">{{student.ID}} </span>
    <form method="POST" action="/laborHistory/download">
      <input hidden name="listOfForms" value="{{laborStatusFormList}}" />
      <div style="width:50%; margin-bottom:0.5%" align= "right" id="editor"><button  type="submit" value="Submit" class="btn btn-success" id="downloadButton">Download</button></div>
    </form>

    <div align= "center">
      <table class="table" id="positionTable" >
        {% for form in authorizedForms %}
        <tr>
          <!-- If a user is a labor admin, then the value boolean is true, and allows admin access to all of a student's labor history. -->
          {% if currentUser.isLaborAdmin or form.formID.POSN_CODE != "S12345" %}
          <td id="{{form.formID.laborStatusFormID}}" class="modalLink" value="true">
            <a href="#" tabindex="0"><span class="h4">{{form.formID.termCode.termName}} - {{form.formID.department.DEPT_NAME}} Dept.</span></a>
            <span class="pushRight h5">{{form.status}}</span>
            <p class="h6" id="second-line">{{form.formID.jobType}} - {{form.formID.POSN_TITLE}} ({{form.formID.POSN_CODE}})</p>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" data-backdrop="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
<!-- Modal End -->
  {% if currentUser.supervisor or currentUser.isLaborAdmin %}
    <div align= "left"><button class='btn btn-danger' id="returnbutton" onclick="goback('{{departmentName}}')">Return</button></div>
  {% endif %}
{% endblock %}
