{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>
  <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block app_content %}


<!-- header -->
<a class="skipContent" href="#download" tabindex="1">Click to Skip</a>
<div align="center">
  <h1>Supervisor Portal</h1>
  <span id="portalTitle" >Current Students</span>
</div>

<!-- This section of Div tags is used to keep the formatting for when we show
and hide the department select picker. -->
<div class="col-md-5"></div>
<div class="col-md-2" id="placeholder"></div>

<div class="col-md-2" align="center" id="userDepartments">
  <select class="selectpicker" id="departmentDropDown" onchange="populateTable()" title="Department" data-width="100%">
    {% for formHistory in currentUserDepartments %}
      {% if current_user.isLaborAdmin == 1 %}
      <option value="{{formHistory.formID.department.DEPT_NAME}}">{{formHistory.formID.department.DEPT_NAME}}</option>
      {% else %}
        <!-- We want to populate the select picker with the first option if the user is not an admin -->
        {% if loop.index == 1 %}
        <option value="{{formHistory.formID.department.DEPT_NAME}}" selected>{{formHistory.formID.department.DEPT_NAME}}</option>
        {% else %}
        <option value="{{formHistory.formID.department.DEPT_NAME}}">{{formHistory.formID.department.DEPT_NAME}}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
</div>

<div class="col-md-3" align= "right">
  <button class="btn btn-success" id="download" data-toggle="modal" data-target="#downloadModal">Download</button>
</div>
<div class="col-md-2"></div>


<!-- start of modal -->
<form target="frame" method="POST">
 <div class="modal fade" id="downloadModal" role="dialog" tabindex="-1">
   <div class="modal-dialog">
     <div class="modal-content" align="center">
       <div class="modal-header" align="center">
         <h4 class="modal-title">Please select what you would like to download.</h4>
       </div>
       <div id="downloadModalText" class="modal-body">
          <input type="checkbox" name="student" id="select-all"> <strong>Select all</strong>

          <!-- Populate the modal with the current students of user -->
          <div class="currentStu">
          {% for form in currentSupervisees %}
          <label class="container">
            <input class="currentStudentModal" type="checkbox" id ='{{form.laborStatusFormID}}' name='{{form.laborStatusFormID}}' value='{{form.laborStatusFormID}}'>
              {{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}}
          </label>
          {% endfor %}
          </div>

          <!-- Populate the modal with the past students of user who are still students -->
          <div class="pastStu" style="display:none">
          {% for form in pastSupervisees %}
          <label class="container">
            <input class="pastStudentModal" type="checkbox" id= '{{form.laborStatusFormID}}' name='{{form.laborStatusFormID}}' value='{{form.laborStatusFormID}}' disabled>
              {{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}}
          </label>
          {% endfor %}
          </div>

          <!-- Populate the modal with the past students of user who are no longer students-->
          <div class="pastStu" style="display:none">
          {% for form in inactiveSupervisees %}
          <label class="container">
            <input class="pastStudentModal" type="checkbox" id= '{{form.laborStatusFormID}}' name='{{form.laborStatusFormID}}' value='{{form.laborStatusFormID}}' disabled>
              {{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}} <strong>(No longer a student.)</strong>
          </label>
          {% endfor %}
          </div>

          <!-- Leaving this Div empty because it will be populated dynamically in the JS file -->
          <div id="allDepartmentStudentsDiv" class="allDeptStu">

          </div>

          <!-- Leaving this Div empty because it will be populated dynamically in the JS file -->
          <div id="currentDepartmentStudentsDiv" class="currentDeptStu">

          </div>
       </div>
       <div class="modal-footer" align="center">
         <button  class="btn btn-danger" id="closeButton" onclick="downloadHistory()" data-dismiss="modal">Close</button>
         <button type="submit" value="Submit" class="btn btn-success" id="modal">Download</button>
       </div>
     </div>
   </div>
  </div>
</form>
<!-- end of modal-->

<!-- Start of data-table that will display the supervisee -->
<div class="col-md-3"></div>
<div class="col-md-7" align="center" >
  <table id="studentList" class="table table-striped studentTable" >
    <!-- Made empty header tags because we need to hide the header -->
    <thead>
      <tr>
        <th> </th>
        <th> </th>
      </tr>
    </thead>

    <!-- Display all the current students by going through currentSupervisees list from main_route.py -->
    {% for form in currentSupervisees %}
      <tr>
        <td><a href="/laborHistory/{{form.studentSupervisee.ID}}" value=0>
          <span class="h4">{{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}} ({{form.studentSupervisee.ID}})</span></a>
          <br />
          <span class="pushLeft h6"> {{form.termCode.termName}} - {{form.POSN_TITLE}} - {{form.department.DEPT_NAME}}</span>
        </td>
        <td style="display:none">My Current Students</td>
      </tr>
    {% endfor %}
    <!-- Here, we create a second hidden column so that we can filter by this column in the JavaScript -->
    <tr class="currentStu">
      <td style="display:none"></td>
      <td style="display:none">My Current Students</td>
    </tr>

    <!-- Display all the current students by going through pastSupervisees list from main_route.py -->
    {% for form in pastSupervisees %}
      <tr>
        <td><a href="/laborHistory/{{form.studentSupervisee.ID}}" value=0>
          <span class="h4">{{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}} ({{form.studentSupervisee.ID}})</span></a>
          <br />
          <span class="pushLeft h6"> {{form.termCode.termName}} - {{form.POSN_TITLE}} - {{form.department.DEPT_NAME}}</span>
        </td>
        <td style="display:none">My Past Students</td>
      </tr>
    {% endfor %}
    <!-- Here, we create a second hidden column so that we can filter by this column in the JavaScript -->
    <tr class="currentStu">
      <td style="display:none"></td>
      <td style="display:none">My Past Students</td>
    </tr>

    <!-- Display all the current students by going through inactiveSupervisees list from main_route.py -->
    {% for form in inactiveSupervisees %}
    <tr>
      <td><a href="/laborHistory/{{form.studentSupervisee.ID}}">
        <span class="h4">{{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}} ({{form.studentSupervisee.ID}})</span></a>
        <br />
        <span class="pushLeft h6"> No longer a student.</span>
      </td>
      <td style="display:none">My Past Students</td>
    </tr>
    {% endfor %}
    <!-- Here, we create a second hidden column so that we can filter by this column in the JavaScript -->
    <tr class="pastStu">
      <td style="display:none"></td>
      <td style="display:none">My Past Students</td>
    </tr>

  </table>
</div>
<div class="col-md-2"></div>
<!-- End of data-table that will display the supervisee -->

<!-- Keeps modal form closing when submit( Download ) button is pressed -->
<iframe name="frame"></iframe>

{% endblock %}
