{% extends "base.html" %}
{% block app_content %}
<div align= "right">

  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css" />

    <div align="center">
      <h1>Supervisor Portal</h1>
    </div>
  <input  type="text" id="myInput" onkeyup="searching()" placeholder="Search">
    <div align= "right"><button class="btn">Download</button></div>


    <div align= "center">
      <table id="studentTable" >
        <tr class="header">
          <th style="width:60%;">Current Labor Students</th>
        </tr>
        <tr>
          <td>Kat Adams</td>
        </tr>
        <tr>
          <td>Hailey Barnett</td>
        </tr>
        <tr>
          <td>Evan Johnson</td>
        </tr>
        <tr>
          <td>May Jue</td>
        </tr>

      </table>

    </div>

</div>
{% endblock %}
