{% extends "base.html" %}
{% block app_content %}
<div align= "center">
  <script type="text/javascript" src="/static/js/laborhistory.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/laborhistory.css" />
  <h1>Labor History</h1>
    <h3>{{student.FIRST_NAME}} {{student.LAST_NAME}}</h3>
    <form method="POST" action="/laborHistory/download">
      <input hidden name="listOfForms" value="{{formHistoryList}}" />
      <div align= "right"><button  type="submit" value="Submit" class="btn btn-success">Download</button></div>
    </form>
    <div align= "center">
      <table id="positionTable" >
        {% for form in studentForms %}
        <tr>
          <td onclick="openModal({{form.laborStatusFormID}})" id="{{form.laborStatusFormID}}">
            <p class = "lead"><strong>{{form.termCode.termName}} - {{form.department.DEPT_NAME}} Dept.</strong></p>
            <p id= "second-line">{{form.jobType}} - {{form.POSN_TITLE}} ({{form.POSN_CODE}})</p>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
<div id="holdModal">
</div>
  <div align= "left"><a type='button' class='btn btn-danger' id="returnbutton" onclick="window.history.back()">Return</a></div>
{% endblock %}
