{% extends "base.html" %}

{% block app_content %}
<div align= "center">
  <script type="text/javascript" src="/static/js/laborhistory.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/laborhistory.css" />
  <h1>Labor History</h1>
  <h3>May Jue</h3>

  <div align= "right"><button class="btn">Download</button></div>


  <div align= "center">
    <table id="positionTable" >
      <tr>
        <td>Fall 2019</td>
      </tr>
      <tr>
        <td>Fall 2018</td>
      </tr>
      <tr>
        <td>Fall 2017</td>
      </tr>

    </table>

  </div>
</div>


{% endblock %}
