{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{username.firstname}}!</h1>
{# Keeping for demo purposes only... delete as needed
    <p>For the sake of demonstration...</p>
    <hr>
    {% for form in forms %}
        <ul>
            {% for k in form["__data__"] %}
                <li>{{k}} - {{form[k]}}</li>
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}
#}

{# HTML gutted from old LSF. Probably can trim out a fair bit of extra stuff #}
<div id="Content2">
        <div class="form">
            <h1 class="col-xs-11 text-center">Labor Status Form</h1>
            <h4 class="col-xs-11 text-center">
                    Establish a student's work status in the Labor Program.
            </h4>

            <div class="col-xs-10 col-xs-offset-1">
                <div class=" col-xs-1   col-xs-offset-3" style="min-width: 108px;">
                    <label>Term: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for term-->
                    <select class="selectpicker"
                            name='term'
                            id='term'
                            data-live-search="true"
                            title="Please select the term:"
                            data-style="btn-primary">
                    {% for term in terms %}
                        <option value = "{{term.termID}}">{{term.termName}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <br />
                <div class="col-xs-1  col-xs-offset-3" style="min-width: 108px;">
                    <label>Student: </label>
                </div>
                <div class="col-xs-4" >
                  <select class="selectpicker"
                          name='student'
                          id='student'
                          data-live-search='true'
                          title="Please select the student to hire:">
                    {% for student in students %}
                        <option value="{{student.username}}" data-subtext="{{student.username}}">{{student.firstname}} {{student.lastname}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            {# Stopped here... #}
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-1   col-xs-offset-3 " style="min-width: 108px;">
                    <label>Supervisor: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for supervisor-->
                    <br />

                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-1   col-xs-offset-3" style="min-width: 108px;">
                    <label>Department: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for dept-->
                    <br />
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-1   col-xs-offset-3" style="min-width: 108px;">
                    <label>Position: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for position-->
                    <br />

                </div>
            </div>


            <div id="dates" hidden class="col-xs-10 col-xs-offset-1">
                <div class=" col-xs-1  col-xs-offset-3" style="min-width: 108px;">
                    <label>Start Date: </label>
                </div>
                <div class="col-xs-4" >
                    <!--Datepicker for start date-->

                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1" id="JobTypeDIV" hidden>
                <div class=" col-xs-1   col-xs-offset-3" style="min-width: 108px;">
                    <label>Job Type: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for Job type-->
                    <br />

                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1" id="HourlyContractDIV" hidden>
                <div class=" col-xs-1   col-xs-offset-3" style="min-width: 108px;">
                    <label>Hours per Week: </label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for hrs per week-->
                    <br />

                </div>
            </div>
            <br />

            <div class="col-xs-10 col-xs-offset-1" id="LongBreakDiv" hidden>
                <div class="col-xs-1  col-xs-offset-3" style="min-width: 108px;">
                    <label id="LongBreakLabel">Total Contract Hours:</label>
                </div>
                <div class="col-xs-4" >
                    <!--selectpicker for hrs per contract-->
                    <br />

                </div>
            </div>
            <br />

            <div id="primary_for_secondary" hidden class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-6 col-xs-offset-3" style="margin-bottom: 1.2em;">
                    <strong>NOTE: The labor student and the supervisor of this secondary position  should <br />obtain permission from the primary supervisor before submitting this labor status form!</strong>
                </div>
                <div class="col-xs-1 col-xs-offset-3" style=" min-width: 108px;">
                    <label>Primary Supervisor: </label>
                </div>
                <div class="col-xs-4">
                    <!--selectpicker for secondary supervisor-->
                    <br />

                </div>


            </div>

            </div>
            <br />




                <div id="ctl00_MainContent_wls5or6" class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-5 col-xs-offset-3 ">
                    <p class="text-warning">  Student with WLS Level 5 or 6 must have at least a 15 hour contract. These positions require special authorization as specified at <a href="http://catalog.berea.edu/2014-2015/Tools/Work-Learning-Service-Levels-WLS" target="_blank">The Labor Program Website</a></p>
                    </div>
                    <br />
                </div>


            <div class="col-xs-12">
                <br />
            </div>



                <div id="ctl00_MainContent_twentyhrs" class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-5 col-xs-offset-3">
                        <p class="text-warning">
                            Students working more than 15 hours must fill out a <a href="http://www.berea.edu/labor-program-office/files/2013/07/20130705-Labor-Overload-Application.pdf" target="_blank">labor overload application.</a>
                        </p>

                    </div>
                    <br />
                </div>

            <div class="col-xs-10 col-xs-offset-1">
                <br />
                <div class="col-xs-2 col-xs-offset-3" style="min-width: 108px;">
                    <!--submit button-->
                </div>
            </div>

        </div>
</div>

{% endblock %}
