{% extends "base.html" %}
{% block app_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="form">
  <h1 class="col-xs-11 text-center">Labor Status Form
    <span class="glyphicon glyphicon-bookmark"
      <a  data-toggle="tooltip" data-tooltip="true"
          title="This online labor status form is used to
          establish a student's work status in the Labor Program."
          data-placement = "right" id="glyphicon">
      </a>
    </span>
  </h1>
  <div class="form-group col-md-12">
    <!--selectpicker for supervisor-->
    <select class="selectpicker"
            name='supervisor'
            id='supervisor'
            data-live-search='true'
            title="Supervisor"
            data-width="1041px" required>
      {% for staff in staffs %}
        <option value="{{staff.PIDM}}">{{staff.FIRST_NAME}} {{staff.LAST_NAME}}</option>
      {% endfor %}
    </select>
  </div>
  <br />
  <div class="form-group col-md-12">
    <!--selectpicker for department-->
    <select class="selectpicker"
            name='department'
            id='department'
            data-live-search='true'
            title="Department"
            data-width="1041px"
            onchange = "getDepartment(this)" required>
      {% for department in departments %}
        <option value="{{department.DEPT_NAME}}">{{department.DEPT_NAME}}</option>
      {% endfor %}
    </select>
  </div>
  <br />
  <div class="form-group col-md-12">
    <!-- selectpicker for term  -->
    <select class="selectpicker"
            name='term'
            id='term'
            data-live-search="true"
            title="Term"
            data-width="1041px"
            onchange = "getTerm(this); show_access_level(this)"
            required>
    {% for term in terms %}
        <option value = "{{term.termCode}}">{{term.termName}}</option>
    {% endfor %}
  </select>
  </div>
  <br />
  <div  class="form-group col-md-6">
    <!--Datepicker for start date-->
    <div class='input-group date' >
      <input type='text' class="form-control" id='datetimepicker1' placeholder="Start Date" required/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <br />
  <div class="form-group col-md-6">
    <!--Datepicker for End date-->
    <div class='input-group date'>
        <input type='text' class="form-control" id='datetimepicker2' placeholder="End Date" required/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <br />
  <div class="form-group col-md-3" id="Student">
    <!-- selectpicker for student  -->
    <select class="selectpicker"
            name='student'
            id='student'
            data-live-search='true'
            title="Student"
            data-width="231px"
            onchange= "getstudent(this)"
            required>
      {% for student in students %}
          <option value="{{student.PIDM}}">{{student.FIRST_NAME}} {{student.LAST_NAME}}</option>
      {% endfor %}
    </select>
  </div>
  <br />
  <div class="form-group col-md-3" id="Position">
    <!--selectpicker for position-->
    <select class="selectpicker"
            name='position'
            id='position'
            data-live-search='true'
            title="Position"
            data-width="231px"
            required>
    </select>
  </div>
  <br />
 <!-- Contract hours for breaks -->
  <div class="form-group col-md-5" id="ContractHours" >
          <!--selectpicker for contract hours-->
          <input class="form-control quantity"
                  type = "number"
                  name='contracthours'
                  id='contracthours'
                  title="Contract Hours"
                  placeholder="Contract Hours"
                  min = "1"
                  oninput="this.value = Math.abs(this.value); this.value = parseInt(this.value)||0"
                  required>
          </input>
  </div>
  <br />
  <div class="form-group col-md-3" id="JopTypes">
    <!--selectpicker for Job type-->
    <select class="selectpicker"
            name='jobtype'
            id='jobtype'
            data-live-search='true'
            title="Job Type"
            data-width="258px"
            onchange="getjobtype(this); secondary_access(this)">
    </select>
  </div>
  <br />
  <div class="form-group col-md-2" id="Hours_PerWeek">
    <!--selectpicker for hrs per week-->
    <select class="selectpicker"
            name='hours_perweek'
            id='hours_perweek'
            data-live-search='true'
            title="Hours per week"
            data-width="217px">
    </select>
  </div>
  <br />
  <div class="form-group col-md-1" id="plus">
    <span class="glyphicon glyphicon-plus"
    <a      data-toggle="tooltip"
            data-tooltip="true"
            title="Add more students"
            data-placement = "center"
            id="glyphicon_2">
    </a>
    </span>
  </div>
  <br />
  <div class="form-group col-md-12" id="primary_for_secondary">
    <!--selectpicker for primary supervisor-->
    <select class="selectpicker"
            name='primary_supervisor'
            id='primary_supervisor'
            data-live-search='true'
            title="Primary Supervisor"
            data-width="1041px" required>
    </select>
  </div>
  <br />
  <div class="col-md-12 " id="review-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SubmitModal">Review</button>
  </div>
  <br />
  <!-- Modal -->
  <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="SubmitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          The labor status form was submitted for:
          <br />
          <br />
          The labor status form will be eligible for approval in one business day.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </div>
</div>
<!-- ModalEnds -->
</div>

 <!-- css and javascript files -->
<script src="/static/js/laborStatusForm.js"></script>
<link rel="stylesheet" href="/static/css/laborStatusForm.css" type="text/css"/>
{% endblock %}












    {# USE LATER #}
        <div id="ctl00_MainContent_wls5or6" class="col-xs-10 col-xs-offset-1" hidden>
            <div class="col-xs-5 col-xs-offset-3 ">
            <p class="text-warning">  Student with WLS Level 5 or 6 must have at least a 15 hour contract. These positions require special authorization as specified at <a href="http://catalog.berea.edu/2014-2015/Tools/Work-Learning-Service-Levels-WLS" target="_blank">The Labor Program Website</a></p>
            </div>
            <br />
        </div>

        <div id="ctl00_MainContent_twentyhrs" class="col-xs-10 col-xs-offset-1" hidden>
            <div class="col-xs-5 col-xs-offset-3">
                <p class="text-warning">
                    Students working more than 15 hours must fill out a <a href="http://www.berea.edu/labor-program-office/files/2013/07/20130705-Labor-Overload-Application.pdf" target="_blank">labor overload application.</a>
                </p>

            </div>
            <br />
        </div>
    {# USE LATER #}
