{% extends "base.html" %}

{% block app_content %}
<div align= "center">
  <script type="text/javascript" src="/static/js/laborhistory.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/laborhistory.css" />
  <h1>Labor History</h1>
  <h3>May Jue</h3>

  <div align= "right"><button class="btn">Download</button></div>


  <div align= "center">
    <table id="positionTable" >
      {% for form in studentForms %}
      <tr>
        <td>{{form.POSN_TITLE}}</td>
      </tr>
      {% endfor %}
    </table>

  </div>

</div>

  <a type='button' class='btn btn-default' style= "padding: 7px 30px; margin-top: 5px; color: black" onclick="window.history.back()">Return</a>
{% endblock %}
