{% extends "base.html" %}
{% block scripts %}
  {{super()}}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="/static/js/laborReleaseForm.js?u={{lastStaticUpdate}}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel='stylesheet' type="text/css" href='/static/css/laborReleaseForm.css' />
  <link rel="stylesheet" href="/static/css/tooltip.css" type="text/css"/>
{% endblock %}

{% block app_content %}


<a class="skipContent" href="#condition" tabindex="1">Click to Skip</a>
<div align="center">
<h1> Labor Release Form </h1>

  <!-- <div class= "padding">
   <p>Fill out all fields in this form and click 'Submit' if you wish to release the selected
     student from their current labor position.</p>
   <p>Note: This form should only be submited if the selected student will no longer be be working in your department. Changes within the department
     (supervisor, position, hours, etc.) should be completed by submitting a labor adjustment form.</p>
  </div> -->
</div>

<div>

  <form  method="POST" id="form">

    <div class="container">
         <p>Fill out all fields in this form and click 'Submit' if you wish to release the selected
           student from their current labor position.</p>
         <p>Note: This form should only be submited if the selected student will no longer be be working in your department. <br>Changes within the department
           (supervisor, position, hours, etc.) should be completed by submitting a labor adjustment form.</p>
        <div>
            <p class="required-mark">* Marked fields are required</p>
        </div>
      <!-- All of the pre-populated fields on the left -->
      <div class="floatleft">
      {% for form in forms %}
      <div class="form-group">
        <label>Student</label>
        <div>
          <input type="text" class="form-control" id="student" value="{{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}}" disabled></input>  <!--User CANNOT edit-->
        </div>
      </div>
        <div class="form-group">
        <label>Supervisor</label>
        <div>
          <input type="text" class="form-control" id="supervisor" value="{{form.supervisor.FIRST_NAME}} {{form.supervisor.LAST_NAME}}" readonly>
        </div>
        </div>
      <div class="form-group">
        <label>Department</label>
        <div>
          <input type="text" class="form-control" id="department" value="{{form.department.DEPT_NAME}}" disabled>  <!--User CANNOT edit-->
        </div>
      </div>
      <div class="form-group">
        <label>Released from Primary or Secondary</label>   <!--User CANNOT edit-->
        <div>
          <input type="text" class="form-control" id="jobType" value="{{form.jobType}}" disabled>   <!--User CANNOT edit-->
        </div>
      </div>
      {% endfor %}
      </div>

      <!-- All of the fields on the right -->
      <div class= "floatright" >
        <div class="form-group">
          <label><span class="tooltip-right" data-tooltip="Required">Condition at Release<span class="required-mark">*</span></span></label>
          <div>
            <select class="selectpicker" name="condition" id="condition" title="Condition at release" data-width="100%">
              <option value="Satisfactory">Satisfactory</option>
              <option value="Unsatisfactory">Unsatisfactory</option>
            </select>
          </div>
        </div>
        <div class="form-group" id= "dateDiv">
          <label for="datepicker"><span class="tooltip-right" data-tooltip="Required">Release Date<span class="required-mark">*</span></span></label>
          <div class="input-group date">
            <input type="text" class="form-control" class="datepicker" id="datepicker0" name="date" readonly>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="Notes"><span class="tooltip-right" data-tooltip="Required">Reason for Release<span class="required-mark">*</span></span></label>
          <div>
            <textarea name="notes" rows="6" cols="73" id="reason"></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal that will be rendered on the click of the submit button -->
    {% include "snips/laborReleaseFormModal.html" %}

    <div class="container">
      <button id="cancel" type="button" class="btn btn-danger" onclick="window.history.back()">Cancel</button>
      <button id="submit" type="button" class="btn btn-success">Submit</button>
    </div>

  </form>
</div>

{% endblock %}
