{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/laborStatusForm.css" type="text/css"/>
{% endblock %}

​{% block scripts %}
{{super()}}
<script type=text/javascript src="{{url_for('static', filename='js/laborStatusForm.js')}}"></script>
{% endblock %}

{% block app_content %}
<div align="center">
  <h1 id ="title">Labor Status Form
    <span class="glyphicon glyphicon-bookmark"
      <a  data-toggle="tooltip" data-tooltip="true"
          title="This online labor status form is used to
          establish a student's work status in the Labor Program."
          data-placement = "right" id="glyphicon">
      </a>
    </span>
  </h1>
</div>

<form id="laborStatusForm">
<div class="container">
<!-- everythin on the left -->
<div class="floatleft">
  <div class="form-group setSelectpickerHeight">
    <!--selectpicker for supervisor-->
    <label for="supervisor">Supervisor</label>
        <select class="selectpicker form-control require"
                name='supervisor'
                id='selectedSupervisor'
                data-live-search='true'
                title="Supervisor">
          {% for staff in staffs %}
            <option value="{{staff.PIDM}}" {% if forms %}{% if forms.supervisor.username == staff.PIDM %} selected {% endif %}{% endif %}>{{staff.FIRST_NAME}} {{staff.LAST_NAME}} ({{staff.ID}})</option>
          {% endfor %}
        </select>
  </div>
  <div class="form-group setSelectpickerHeight">
    <!--selectpicker for department-->
    <label for="department">Department</label>
        <select class="selectpicker require"
                name='department'
                id='selectedDepartment'
                data-live-search='true'
                title="Department"
                data-width="100%"
                onchange = "checkCompliance(this); getDepartment(this)">
          {% for department in departments %}
            <option value="{{department.DEPT_NAME}}"{% if forms %}{% if forms.department.DEPT_NAME == department.DEPT_NAME %} selected {% endif %}{% endif %}>{{department.DEPT_NAME}}</option>
          {% endfor %}
        </select>
        {% include "snips/ReviewForm.html" %}
  </div>
  <div class="form-group {% if forms %} has-error {% endif %} setSelectpickerHeight ">
    <!-- selectpicker for term  -->
      <label for="term">Term</label>
            <select class="selectpicker disable require"
                    name='term'
                    id='selectedTerm'
                    data-live-search="true"
                    title="Term"
                    data-width="100%"
                    onchange = "showAccessLevel(this); preFilledDate(this)">
            {% for term in terms %}
                <option value = "{{term.termCode}}">{{term.termName}}</option>
            {% endfor %}
          </select>
  </div>
  <!-- datePickerS -->
  <div class="form-group col-xs-12">
      <div  class="form-group col-xs-6" id="startDateStyle">
        <!--datePicker for start date-->
        <label for="dateTimePicker1" id="datePicker">Start Date</label>
          <div class='input-group date'>
            <input type='text' class="form-control disable require" id='dateTimePicker1' name="startDate" placeholder="Start Date" data-width="320px" onchange="updateEnd(this)" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
      <div class="form-group col-xs-6" id ="endDateStyle">
        <!--datePicker for End date-->
      <label for="dateTimePicker2" id="datePicker">End Date</label>
        <div class='input-group date'>
            <input type='text' class="form-control disable require" id='dateTimePicker2' name="endDate" placeholder="End Date" data-width="320px" onchange="updateStart(this)" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>​
    </div>
</div>

<!-- Everything on the right  -->
 <!-- Table that contains select pickers -->
<div class= "floatright" >

  <div class= "form-group setSelectpickerHeight">
      <!-- selectpicker for student  -->
      <label for="student">Student</label>
        <select class="selectpicker disable require"
                name='student'
                id='student'
                data-live-search='true'
                data-width="100%"
                title="Student" >
          {% for student in students %}
              <option value="{{student.ID}}" {% if forms %}{% if forms.studentSupervisee.ID == student.ID %} selected {% endif %}{% endif %}>{{student.FIRST_NAME}} {{student.LAST_NAME}} ({{student.ID}})</option>
          {% endfor %}
        </select>
  </div>
  <div class= "form-group setSelectpickerHeight">
      <!--selectpicker for positio3-->
      <label for="student">Position</label>
        <select class="selectpicker disable require"
                name='position'
                id='position'
                data-live-search='true'
                data-width="100%"
                title="Position" >
                <option id="{{forms.POSN_CODE}}" value="{{forms.POSN_TITLE, forms.WLS}}"{% if forms %} selected {% endif %}>{{forms.POSN_TITLE}}</option>
        </select>
    </div>
    <div id="JopTypes" class= "form-group setSelectpickerHeight">
        <!--selectpicker for Job type-->
        <label for="student">Job Type</label>
          <select class="selectpicker disable makeRequired"
                  name='jobType'
                  id='jobType'
                  data-live-search='true'
                  title="Job Type"
                  data-width="100%"
                  onchange="fillHoursPerWeek()" >
            <option value="Primary"{% if forms %}{% if forms.jobType == "Primary" %} selected {% endif %}{% endif %}>Primary</option>
            <option value="Secondary"{% if forms %}{% if forms.jobType == "Secondary" %} selected {% endif %}{% endif %}>Secondary</option>
          </select>
        {% include "snips/ReviewForm.html" %}
    </div>
    <div id="hoursPerWeek" class= "form-group setSelectpickerHeight">
        <!--selectpicker for hrs per week-->
        <label for="student">Hours Per Week</label>
          <select class="selectpicker disable makeRequired"
                  name='selectedHoursPerWeek'
                  id='selectedHoursPerWeek'
                  data-live-search='true'
                  data-width="100%"
                  title="Hours per week" >
          <option value="{{forms.weeklyHours}}"{% if forms %} selected {% endif %}>{{forms.weeklyHours}}</option>
          </select>​
    </div>
    <div id="contractHours" class= "form-group setSelectpickerHeight">
    <!-- Contract hours for breaks -->
       <label for="student">Contract Hours</label>
         <input class="form-control quantity disable contractHour"
                 type = "number"
                 name='contractHours'
                 id='selectedContractHours'
                 title="Contract Hours"
                 placeholder="Contract Hours"
                 min = "1"
                 oninput="this.value = Math.abs(this.value); this.value = parseInt(this.value)||0" >
         </input>
    </div>
    <div id="plus" class= "form-group">
        <label> </label>
          <span class="glyphicon glyphicon-plus disable"
              <a  data-toggle="tooltip"
                  data-tooltip="true"
                  title="Add more students"
                  data-placement = "center"
                  id="glyphicon_2"
                  onclick="displayTable(); disableTerm()"
              </a>
          </span>
        {% include "snips/ReviewForm.html" %}
    </div>
</div>
  <br />
    <table class="table table-striped " id="mytable">
      <thead>
        <tr class="item">
          <td>Student</td>
          <td id = "position" data-value = "">Position (WLS)</td>
          <td id="jobTable">Job Type</td>
          <td id="hoursTable">Hours Per Week</td>
          <td id="contractTable">Contract Hours</td>
          <td id ="notes"> Notes </td>
          <td> Remove </td>
        </tr>
      </thead>
    </table>
  <div class="col-md-12 ">
    <button type="button"
            class="btn btn-primary"
            name = "formSubmission"
            id="reviewButton"
            value = "formSubmission"
            onclick="reviewButtonFunctionality('preventPlusFromSubmitting')">Review</button>
      {% include "snips/ReviewForm.html" %}
  </div>
</div>
</form>
{% endblock %}
