{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/laborStatusForm.css" type="text/css"/>
{% endblock %}

​{% block scripts %}
{{super()}}
<script type=text/javascript src="{{url_for('static', filename='js/laborStatusForm.js')}}"></script>
{% endblock %}

{% block app_content %}
<div align="center" style="margin-bottom: 50px;">
  <h1 id ="title">Labor Status Form
	  <span class="glyphicon glyphicon-bookmark">
      <a  data-toggle="tooltip" data-tooltip="true"
          title="This online labor status form is used to
          establish a student's work status in the Labor Program."
          data-placement = "right" id="titleGlyphicon">
      </a>
    </span>
  </h1>
  <div id="primary-cutoff-warning" style="color:red;" hidden>
    The last date to add <b>Primary</b> positions was <span id="primary-cutoff-date"></span>
  </div>
  <div id="break-cutoff-warning" style="color:red;" hidden>
    The last date to add <b>Break</b> positions was <span id="break-cutoff-date"></span>
  </div>
  <div id="dept-compliance-warning" style="color:red;" hidden>
    <span id="dept-name-compliance"></span> department is out of compliance.
  </div>
</div>

<form id="laborStatusForm">
<div class="container">
<!-- everythin on the left -->
<div class="floatleft">
  <div class="form-group ">
    <!--selectpicker for supervisor-->

    <!-- <div class="tooltip">Hover over me
      <span class="tooltiptext">Tooltip text</span>
    </div>  -->
    <!-- class="tooltip" -->
    <label for="selectedSupervisor">Supervisor
        <span class="required">*
            <span class="required-tip">required</span>
        </span> <span type="button" id="supervisorInfo" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Forms can only be submitted for one supervisor at a time"></span></label>
        <select class="selectpicker form-control"
                name='supervisor'
                id='selectedSupervisor'
                data-live-search='true'
                title="Supervisor"
                onchange = "showAccessLevel()">
            <option value = "" disabled selected>Select a Supervisor</option>
          {% for staff in staffs %}
            <option value="{{staff.PIDM}}" {% if forms %}{% if forms.supervisor.ID == staff.ID %} selected {% endif %}{% endif %} data-subtext="({{staff.ID}})">{{staff.FIRST_NAME}} {{staff.LAST_NAME}}</option>
          {% endfor %}
        </select>
  </div>
  <div class="form-group" id="departmentClass">
    <!--selectpicker for department-->
    <label for="selectedDepartment">Department<span style="color: #d40c13">*</span> <span type="button" id="departmentInfo" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Forms can only be submitted for one department at a time"></span></label>
        <select class="selectpicker"
                name='department'
                id='selectedDepartment'
                data-live-search='true'
                title="Department"
                data-width="100%"
                onchange = "checkCompliance(this); getDepartment(this); showAccessLevel()">
          <option value = "" disabled selected>Select a Department</option>
          {% for department in departments %}
            <option value="{{department.DEPT_NAME}}"{% if forms %}{% if forms.department.DEPT_NAME == department.DEPT_NAME %} selected {% endif %}{% endif %} data-subtext = "({{department.ORG}}-{{department.ACCOUNT}})">{{department.DEPT_NAME}}</option>
          {% endfor %}
        </select>
        {% include "snips/LSFModals.html" %}
  </div>
  <div class="form-group {% if forms %} has-error {% endif %}  ">
    <!-- selectpicker for term  -->
      <label for="selectedTerm">Term<span style="color: #d40c13">*</span> <span type="button" id="termInfo" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Forms can only be submitted to one term at a time"></span></label>
            <select class="selectpicker disable"
                    name='term'
                    id='selectedTerm'
                    data-live-search="true"
                    data-toggle="tooltip"
                    title="Term"
                    data-width="100%"
                    onchange = "showAccessLevel(); preFilledDate(this); summerLaborWarning()">
                <option value = "" disabled selected>Select a Term</option>
            {% for term in terms %}
                <option value = "{{term.termCode}}" data-termCode = "{{term.termCode}}">{{term.termName}}</option>
            {% endfor %}
          </select>
  </div>
  <!-- datePickerS -->
  <div class="form-group col-xs-12">
      <div  class="form-group col-xs-6" id="startDateStyle">
        <!--datePicker for start date-->
        <label for="dateTimePicker1" id="datePicker">Start Date<span style="color: #d40c13">*</span></label>
          <div class='input-group date'>
            <input type='text' class="form-control disable" id='dateTimePicker1' name="startDate" placeholder="Start Date" data-width="320px" onchange="updateDate(this)" readonly/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
      <div class="form-group col-xs-6" id ="endDateStyle">
        <!--datePicker for End date-->
      <label for="dateTimePicker2" id="datePicker">End Date<span style="color: #d40c13">*</span></label>
        <div class='input-group date'>
            <input type='text' class="form-control disable" id='dateTimePicker2' name="endDate" placeholder="End Date" data-width="320px" onchange="updateDate(this)" readonly/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>​
    </div>
</div>

<!-- Everything on the right  -->
 <!-- Table that contains select pickers -->
<div class= "floatright" >

  <div class= "form-group ">
      <!-- selectpicker for student  -->
      <label for="student">Student<span style="color: #d40c13">*</span></label>
        <select class="selectpicker disable stu"
                name='student'
                id='student'
                data-live-search='true'
                data-width="100%"
                title="Student" >
              <option value = "" disabled selected>Select a Student</option>
          {% for student in students %}
              <option value="{{student.ID}}" {% if forms %}{% if forms.studentSupervisee.ID == student.ID %} selected {% endif %}{% endif %} data-subtext="({{student.ID}})" data-stuCL="{{student.CLASS_LEVEL}}">{{student.FIRST_NAME}} {{student.LAST_NAME}}</option>
          {% endfor %}
        </select>
  </div>
  <div class= "form-group " id="Position">
      <!--selectpicker for positio3-->
      <label for="position">Position (WLS)<span style="color: #d40c13">*</span></label>
        <select class="selectpicker disable"
                name='position'
                id='position'
                data-live-search='true'
                data-width="100%"
                title="Position" >
                <option value = "" disabled selected>Select a Position</option>
                {% if forms %} <option id="{{forms.POSN_CODE}}" value="{{forms.POSN_TITLE}}" data-wls={{forms.WLS}} {% if forms %} selected {% endif %}>{{forms.POSN_TITLE}}</option>{% endif %}
        </select>
    </div>
    <div id="JopTypes" class= "form-group ">
        <!--selectpicker for Job type-->
        <label for="jobType">Job Type<span style="color: #d40c13">*</span></label>
          <select class="selectpicker disable"
                  name='jobType'
                  id='jobType'
                  data-live-search='true'
                  title="Job Type"
                  data-width="100%"
                  onchange="fillHoursPerWeek()">
            <option value = "" disabled selected>Select a Job Type</option>
            <option id = "primary" value="Primary"{% if forms %}{% if forms.jobType == "Primary" %} data-jobType={{forms.jobType}} selected {% endif %}{% endif %}>Primary</option>
            <option value="Secondary"{% if forms %}{% if forms.jobType == "Secondary" %} data-jobType={{forms.jobType}} selected {% endif %}{% endif %}>Secondary</option>
          </select>
        {% include "snips/LSFModals.html" %}
    </div>
    <div id="hoursPerWeek" class= "form-group ">
        <!--selectpicker for hrs per week-->
        <label for="selectedHoursPerWeek">Hours Per Week<span style="color: #d40c13">*</span></label>
          <select class="selectpicker disable"
                  name='selectedHoursPerWeek'
                  id='selectedHoursPerWeek'
                  data-live-search='true'
                  data-width="100%"
                  title="Hours per week" >
          <option value = "" disabled selected>Select Hours Per Week</option>
          <option value="{{forms.weeklyHours}}"{% if forms %} selected {% endif %}>{{forms.weeklyHours}}</option>
          </select>​
    </div>
    <div id="contractHours" class= "form-group ">
    <!-- Contract hours for breaks -->
       <label for="selectedContractHours">Contract Hours<span style="color: #d40c13">*</span></label>
         <input class="form-control quantity disable"
                 type = "number"
                 name='contractHours'
                 id='selectedContractHours'
                 title="Contract Hours"
                 placeholder="Contract Hours"
                 min = "1"
                 oninput="this.value = Math.abs(this.value); this.value = parseInt(this.value)||0" >
         </input>
    </div>
</div>
<br>
<div id="plus" class= "col-md-12">
  <button type="button"
          class="btn btn-primary disable"
          name = "addStudent"
          id="addMoreStudent"
          value = "formSubmission"
          onclick="checkIfFreshman();">Add Student
  </button>
</div>
<div>
    <p style="color: #d40c13">*required field</p>
</div>
  <br />

    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Student </th>
          <th id = "positionTable">Position (WLS) </th>
          <th id = "jobTable">Job Type </th>
          <th id = "hoursTable">Hours</th>
          <th id = "datesTable">Contract Dates</th>
          <th id = "notes">Notes</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id='tbodyid'></tbody>
    </table>
  <div class="col-md-12 " id="reviewButton">
    <button type="button disable"
            class="btn btn-primary"
            name = "formSubmission"
            id="reviewButton0"
            value = "formSubmission"
            onclick="reviewButtonFunctionality()">Review</button>
      {% include "snips/LSFModals.html" %}
  </div>
</div>
</form>
{% endblock %}
