{% extends "base.html" %}
{% block app_content %}
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/modifyLSF.css" /> <!--jquery and js file called in code below-->
<!-- These are the outside links for the datepicker-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- These are the outside links for the effective date calendar-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --> <!--I commented these out and it still worked -Kat 7/26-->
</head>
<div align="center">
  <h2>Modify Labor Status Form</h2>
</div>
 <form action="/index" id="modifyLSF">
   <div class="container">
   <div class="floatleft">
       <div class="form-group">
         <label for="Student">Student:</label> <!--User CANNOT edit-->
         <div>
           <input type="Student" class="form-control" id="Student" value="{{prefillstudent}}" disabled> <!--User CANNOT edit-->
         </div>
       </div>
       <div class="form-group">
         <label for="Supervisor" class="field">Supervisor:</label>
         <div>
           <select required type="Supervisor"
                            class="selectpicker form-control newValue"
                            id="Supervisor"
                            data-live-search="true">
                <option title="{{prefillsupervisor}}" value="{{prefillsupervisor}}">{{prefillsupervisor}}</option> <!-- not showing up fam-->
                <option title="George Lopez" value="George Lopez">George Lopez (lopezg)</option>
                <option title="Barack Obama" value="Barack Obama">Barack Obama (obamab)</option>
           </select>
           <input hidden class = "oldValue"  value="{{prefillsupervisor}}" > </input> <!-- stores value of original-->
         </div>
       </div>
       <div class="form-group">
         <label for="Department">Department:</label> <!--User CANNOT edit-->
         <div>
           <input type="Department" class="form-control" id="Department" value="{{prefilldepartment}}" disabled> <!--User CANNOT edit-->
         </div>
       </div>
       <div class="form-group">
         <label for="Position" class="field">Position:</label>
         <div>
           <select required type="Position"
                            class="selectpicker form-control newValue"
                            id="Position"
                            data-live-search="true">
                <option title="{{prefillposition}}" value="{{prefillposition}}">{{prefillposition}}</option>
                <option title="Student Programmer" value="Student Programmer">Student Programmer</option>
                <option title="Teaching Assistant" value="Teaching Assistant">Teaching Assistant</option>
           </select>
           <input hidden class = "oldValue"  id= "{{prefillposition}}" value="{{prefillposition}}"></input>
         </div>
       </div>

       <div class="form-group">
         <label for="WLS" class="field">WLS:</label>
         <div>
           <select required type="WLS"
                            class="selectpicker form-control newValue"
                            id="WLS"
                            data-live-search="true">
                <option title="{{prefillwls}}" value="{{prefillwls}}">{{prefillwls}}</option>
                <option title="WLS 2" value="WLS 2">WLS 2</option>
                <option title="WLS 3" value="WLS 3">WLS 3</option>
           </select>
           <input hidden class="oldValue"  id="{{prefillwls}}" value="{{prefillwls}}"></input>
         </div>
       </div>
       <!-- FIXME: Add conditional that renders jobtype select disabled if term is for a break since jobtype cant be changed-->
       <div class="form-group">
         <label for="JobType">Job Type:</label>
         <div>
           <select type="JobType"
                            class="selectpicker form-control newValue"
                            id="JobType"
                            data-live-search="true"
                            onchange = hideFiveHourOption()
                            value = {{prefilljobtype}}> {{prefilljobtype}}<!---FIXME: ADD if statements; if term is a break, job type should become uneditable-->
                <option title="Primary" value="Primary">Primary</option>
                <option title="Secondary" value="Secondary">Secondary</option>
           </select>
           <input hidden class = "oldValue"  id= "{{prefilljobtype}}" value="{{prefilljobtype}}"> </input>
         </div>
       </div>
   </div>
  <div class= "floatright" >
     <div class="form-group">
       <label for="Term">Term:</label> <!--User CANNOT edit-->
       <div >
         <input type="Term" class="form-control" id="Term" value="{{prefillterm}}"disabled> <!--User CANNOT edit-->
       </div>
     </div>

     <div class="form-group">
            <label for="Hours">Hours:</label>
            <div>
              <select required type="Hours"
                               class="selectpicker form-control newValue"
                               id="Hours"
                               data-live-search="true">{{prefillhours}}
                    <!---Should we make this to where if its secondary, it becomes a text input? (0-5, or 140 contract hours...? talk to LSF team)--->
                     <option title="0-5" value="0-5">0-5</option> <!---TODOOOOO: Needs to ONLY appear when its a secondary: add if statements !-->
                     <option title="10" value="10">10</option>
                     <option title="12" value="12">12</option>
                     <option title="15" value="15">15</option> <!-- I think thats it...should there be a 20 for overload? ask ela and hila/whoever is doing LSF -->

              </select>
              <input hidden class = "oldValue"  id= "oldHours" value="{{prefillhours}}">  </input>
            </div>
          </div>

    <div class="form-group" id= "dateDiv">
    <label for="datetimepicker" class="required-asterisk">Date Needed:</label>
      <div class="input-group date">
        <input type="text" class="form-control effectiveDate" id="datetimepicker0" placeholder="MM/DD/YYYY" required > <!---i dont think we need this
                                                                                    Should prefill with todays date though// effective date does not have old/new value comparison-->
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
     </div>

     <div class="form-group" >
       <label for="Notes">Notes:</label>
       <div>
         <textarea name="notes" rows="9" cols="73" id="Notes" class = "newValue" value="{{prefillnotes}}">{{prefillnotes}}</textarea>
          <input hidden class = "oldValue"  id= "oldNotes" value="{{prefillnotes}}">  </input>
       </div>
     </div>
  </div>
  </div>

    <div class="container">
      <div class="floatleft">
        <button type="cancel" class="btn btn-danger">Cancel</button>
      </div>
      <div class="submitbutton">
        <button id="submit" type="button" class="btn btn-success" data-toggle="modal" data-target="#submitModal" onclick = buttonListener() >Submit Changes</button>
      </div>
    </div>


    <!-- start of modal -->
       <div class="modal fade" id="submitModal" role="dialog">
           <div class="modal-dialog modal-dialog-centered" role="document">

             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Are you sure you want to submit?</h4>
               </div>
               <div class="modal-body">
                 <p>Submitting this form will modify the student's current labor position.</p>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-success" id="modal" onclick = postModifications() >Submit</button>
               </div>
             </div>

           </div>
         </div>

 </form>

<script language="JavaScript" type="text/javascript" src="/static/js/modifyLSF.js"></script>
{% endblock %}
