<link rel="stylesheet" href="{{url_for('static', filename='css/pdfTemplate.css')}}?u={{lastStaticUpdate}}">
<script type="text/javascript" src="static/js/laborhistory.js?u={{lastStaticUpdate}}"></script>
<style>
p {
  font-size: 12px;
  /* color: #304766; */
}
ul li{
  font-size: 12px;
  /* color: #304766; */
}

/* table {
   table-layout: fixed;
 } */

</style>
<html>
<body style="line-height:20%;">
<h3>STATUS FORM</h3>
<h3 style="padding:0px; margin:0px;">Labor Position Participation Agreement</h3>
<p>The purpose of this form is to establish student work status during an academic term (Fall, Spring, or Summer), during a break period (Thanksgiving, Christmas, Spring Break), or for a summer practicume assginment. </p>
<table width="100%" style="font-size:8px;">
<tr>
  <th>STUDENT ID</th>
  <th>STUDENT NAME</th>
  <th>TERM/YEAR</th>
</tr>
<tr>
  {% for form in statusForm %}
  <td>{{form.studentSupervisee.ID}} </td>
  <td>{{form.studentName}}</td>
  <td>{{form.termCode.termName}}</td>
  {% endfor %}
</tr>
</table>
<h3 style="padding:0px; margin:0px;"> Primary Contract </h3>
<table width="100%" style="font-size:8px; padding:0px; margin:0px;">
<tr>
  <th> POSITION CODE </th>
  <th> TITLE </th>
  <th> HOURS </th>
  <th> WLS </th>
  <th> DEPT.ORG</th>
  <th> DEPT.NAME </th>
  <th> START DATE </th>
  <th> END DATE </th>
</tr>
<tr>
  {% for form in statusForm %}
  <td> {{form.POSN_CODE}}</td>
  <td> {{form.POSN_TITLE}}</td>
  <td>{%- if form.weeklyHours == None %}
      {{form.contractHours}}
      {% else %}
      {{form.weeklyHours}}
      {% endif -%}
  </td>
  <td>{{form.WLS}} </td>
  <td>{{form.department.ORG}} </td>
  <td>{{form.department.DEPT_NAME}} </td>
  <td>{{form.startDate.strftime('%m/%d/%Y')}}</td>
  <td>{{form.endDate.strftime('%m/%d/%Y')}}</td>
  {% endfor %}
</tr>
</table>
{% for form in statusForm %}
<p><strong> Primary Supervisor:</strong> {{form.supervisor.FIRST_NAME}} {{form.supervisor.LAST_NAME}}</p>
{% endfor %}
{% for form1 in forms %}
{% if form1.historyType.historyTypeName == "Labor Status Form" %}
<p><strong>Submitted by:</strong> {{form1.createdBy.FIRST_NAME}} {{form1.createdBy.LAST_NAME}}</p>
{% endif %}
{% endfor %}
<h3 style="padding:0px; margin:0px;"> Guidelines </h3>
<p style="font-size:16px;">Primary: </p>
<p>  Positions through which a student meets the primary labor requirement during an academic term or working a summer practicum assignment. All students sign a Labor Enrollment Agreement upon admission to Berea College. In signing this form, each student agrees to: </p>
<ul>
  <li>work no less than 10 hours a week and adhere to the work schedule as required by this position and arranged with the supervisor.</li>
  <li>work any additional hours as defined in this status form including adhering to the work schedule as required by the position. </li>
  <li>secure approval for working continuously more than 15 hours per week as specified in the Labor overload approval process. </li>
</ul>
<p style="font-size:16px; margin:0px; padding:0px;">Secondary: </p>
<p>  Positon taken by a student in addition to his/her primary position. Students may take secondary jobs as a means of earning extra income, learning a new skill, participating in a desired program, or providing an important service. Primary supervisors must approve secondary positions and they may not interfere with the student's primary performance. </p>
<h4 style="padding:5px; margin:0px;"> SUPERVISOR CHECKLIST: </h4>
<ul>
  <li>All applicable fields have been entered, including: ID, student name, position #, position title, total contract hours, WLS Level, department # and title, printed supervisor name, and start date</li>
  <li>You have provided the name of the student's primary staff supervisor and indicated if this is a one term, academic year, or summer practicum position. This is extremely important for web-based time reporting and evaluation purposes</li>
  <li>You have reviewed the requirements of the position and of the labor department with the student</li>
  <li>You have signed the form (now that forms are electronic, your signature is the existence of this document)</li>
</ul>
</body>
</html>
