{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script type=text/javascript src="{{url_for('static', filename='js/positionDescriptionEdit.js')}}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/positionDescriptionEdit.css?u={{lastStaticUpdate}}" type="text/css"/>
{% endblock %}

{% block app_content %}

<div align="center" style="margin-bottom: 20px;">
  <h1 id ="title">Position Description
	  <span class="glyphicon glyphicon-bookmark"
        data-toggle="tooltip"
        title="The position description is used to update current and future labor position descriptions."
        data-placement = "right"
        id="titleGlyphicon"
        tabindex="0">
    </span>
  </h1>
  <h3 id="positionTitle">{{positionRecord.POSN_TITLE}} ({{positionRecord.WLS}}) - {{positionRecord.POSN_CODE}}</h3>
  <p class="subHeader">Click on the collapsible panel to open and close any item.</p>
</div>

<div style="text-align:right;margin-bottom:10px">
  <button type="button" class="btn btn-primary" id="WLSdescription" value={{positionRecord.WLS}} onclick="wlsDescription({{positionRecord.WLS}})"> WLS Description </button>
</div>

<div class="accordion" id="accordionPosition">

  {% for itemName in itemTypes %}
    {% set itemType = itemName|replace(' ','') %}
    <div class="card">
      <div class="card-header" id="heading_{{itemType}}">
        <button class="btn btn-link"
          type="button"
          id="positionDescription_{{itemType}}"
          data-toggle="collapse"
          data-target="#{{itemType}}"
          aria-expanded="true"
          aria-controls="{{itemType}}">
          <h4 class="mb-0">
            {{itemName}}
          </h4>
        </button>
      </div>
      <div id="{{itemType}}"
          class="collapse"
          aria-labelledby="heading_{{itemType}}"
          data-parent="#accordionPosition">
        <table class="table table-bordered table-responsive-md table-striped text-center" class="card-body" id="table_{{itemType}}">
          <thead>
            <tr>
              <th class="text-center">Content</th>
              <th class="text-center">Sort</th>
              <th class="text-center">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% if positionDescriptionItems %}
              {% for positionItem in positionDescriptionItems %}
                {% if positionItem.itemType == itemName %}
              <tr>
                <td class="col-md-10 pt-3-half" contenteditable="true">{{positionItem.itemDescription}}</td>
                <td class="col-md-1 pt-3-half">
                  <span class="table-up">
                    <a href="#!" class="indigo-text">
                      <i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i>
                    </a>
                  </span>
                  <span class="table-down">
                    <a href="#!" class="indigo-text">
                      <i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
                <td class="col-md-1">
                  <span class="table-remove">
                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0" onclick="deleteRow(this)">
                      Remove
                    </button>
                  </span>
                </td>
              </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tbody>
          <div class="col-md-12" style="text-align:right;">
              <button type="button" class="btn btn-info" style="margin-bottom:7px" onclick="addRow(this)">Add Row</button>
          </div>
        </table>
      </div>
    </div>
  {% endfor %}
</div>


{% if positionDescriptionRecord %}
  {% if currentUser.isLaborAdmin and positionDescriptionRecord.status.statusName != "Approved" %}
    <div class="col-md-4" style="margin-top:10px">
        <button type="button" class="btn btn-primary" onclick="discard()">Return</button>
    </div>
    <div class="col-md-4" style="margin-top:10px">
        <button type="button" class="btn btn-danger" onclick="adminDeny({{positionDescriptionRecord.positionDescriptionID}})">Deny</button>
    </div>
    <div class="col-md-4" style="text-align:right;margin-top:10px">
        <button type="button" id="submit" class="btn btn-success" onclick="adminApprove({{positionDescriptionRecord.positionDescriptionID}})">Approve</button>
    </div>
  {% else %}
    <div class="col-md-6" style="margin-top:10px">
        <button type="button" class="btn btn-danger" onclick="discard()">Discard Changes</button>
    </div>
    <div class="col-md-6" style="text-align:right;margin-top:10px">
        <button type="button" id="submit" class="btn btn-success" onclick="saveChanges()">Save Changes</button>
    </div>
  {% endif %}
{% else %}
  <div class="col-md-6" style="margin-top:10px">
      <button type="button" class="btn btn-danger" onclick="discard()">Discard Changes</button>
  </div>
  <div class="col-md-6" style="text-align:right;margin-top:10px">
      <button type="button" id="submit" class="btn btn-success" onclick="saveChanges()">Save Changes</button>
  </div>
{% endif %}


<button type="button" id="buttonWLS" value={{positionRecord.WLS}} hidden></button>


{% include "snips/positionDescriptionEditModal.html" %}
{% include "snips/positionDescriptionWLS.html" %}

{% endblock %}
