{% extends "base.html" %}
{% block app_content %}
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/studentOverloadApp.css" />
<!-- These are the outside links for the datepicker-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- These are the outside links for the effective date calendar-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% include "snips/freshmanWarning.html" %}
  <div align="center" >
    <h1>Labor Overload Application</h1>

    <div class="padding">
      <h5>A labor overload is defined as more than 15 hours of labor per week during the regular academic year and may not be approved retroactively.All approvals are subject to periodic review.
         Approval may be revoked if primary labor hours, labor performance, or academic performance become less than satisfactory.
      </h5>
    </div>
  </div>

<div class="container" >
  <div class="floatleft">
    <ul class="small">
      <h6><b>Guidelines for Approval: </b></h6>
      <input type="checkbox" name="checkbox" id="checkbox1"/> Sophomore, junior, or senior classification <br>
      <input type="checkbox" name="checkbox" id="checkbox2"/> Not on any form of probation <br>
      <input type="checkbox" name="checkbox" id="checkbox3"/> Enrolled in less than 5 course credits with less than 8 preparations <br>
      <input type="checkbox" name="checkbox" id="checkbox4"/> Have a 2.50 GPA, both cumulative and for the previous full term <br>
      <input type="checkbox" name="checkbox" id="checkbox5"/> The required 2.50 cumulative GPA may be waived if a 3.00 GPA is earned during the previous full term
    </ul>
  </div>
<div class="floatleft">
  <ul class="small">
    <h6><b>Requests for over 20 hours* are subject to the following additional guidelines:  </b></h6>
    <input type="checkbox" name="checkbox" id="checkbox6"/> Junior or senior classification. 3.00 GPA in the major, overall, and for the previous term <br>
    <input type="checkbox" name="checkbox" id="checkbox7"/> Submission of a letter outlining the reason for requesting more than 20 hours <br>
    <input type="checkbox" name="checkbox" id="checkbox8"/> Approval of the Dean of Labor and the Student Admissions and Academic Standing Committee
  </ul>
</div>
</div>

<div class="container">
<form>
    <div align="center">
      <h3>Current Job Information</h3>
    </div>
    <!-- current job information on the left side -->
    <div class="floatleft">
      <div class="form-group">
        <label for="Name">Name:</label>
        <div>
          <input type="Name" class="form-control" id="Name" value="{{prefillStudentName}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="BNum">B#:</label>
        <div>
          <input type="BNum" class="form-control" id="BNum" value="{{prefillStudentBnum}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="CPO">CPO:</label>
        <div>
          <input type="CPO" class="form-control" id="CPO" value="{{prefillStudentCPO}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="Classification">Classification:</label>
        <div>
          <input type="Classification" class="form-control" id="Classification" value="{{prefillStudentClass}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="Term">Term:</label>
        <div>
          <input type="Term" class="form-control" id="Term" value="{{prefillTerm}}" disabled>
        </div>
      </div>
    </div
    <!-- current job information on the right side -->
    <div class="floatright">
      <div class="form-group">
        <label for="Primary">Current Primary Position:</label>
        <div>
          <select type="Primary"
                  class="selectpicker"
                  data-live-search='true'
                  onchange = "getCurrentPrimary(this)"
                  id="Primary"
                  data-width="320px" required>
            <option disabled selected value> -- select an option -- </option>
          {% for listPrimary in currentPrimary %}
              {% for primary in listPrimary %}
                <option value="{{primary.laborStatusFormID}}">{{primary.POSN_TITLE}} ({{primary.termCode.termName}})</option>
              {% endfor %}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="PHours">Hours Per Week:</label>
        <div >
          <input type="PrimaryHours" class="form-control" id="primaryHours" disabled>
          </input>
        </div>
      </div>
      <div class="form-group">
        <label for="Secondary">Current Secondary Position:</label>
        <div>
          <select type="Secondary"
                  class="selectpicker"
                  data-live-search='true'
                  onchange = "getCurrentSecondary(this)"
                  id="Secondary"
                  data-width="320px">
            <option disabled selected value> -- select an option -- </option>
          {% for listSecondary in currentSecondary %}
              {% for secondary in listSecondary %}
                <option value="{{secondary.laborStatusFormID}}">{{secondary.POSN_TITLE}} ({{secondary.termCode.termName}})</option>
              {% endfor %}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="SHours">Hours Per Week:</label>
        <div>
          <input type="SecondaryHours" class="form-control" id="secondaryHours" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="TPSHours">Total Primary and Secondary Hours:</label>
        <div>
          <input type="TPSHours" class="form-control" id="currentTotal" disabled>
        </div>
      </div>
    </div>
    <div align="center" class="spacing">
      <h3>Overload Assignment Request</h3>
    </div>
    <!-- overload request information on the left side -->
    <div class="floatleft">
      <div class="form-group">
        <label for="Dept">Department:</label>
        <div>
          <input type="Dept" class="form-control" id="Dept" value="{{prefillDepartment}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="Overload">Position:</label>
        <div>
          <input type="OverloadOverload" class="form-control" id="Overload" value="{{prefillPosition}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="OHours">Hours Per Week:</label>
        <div>
          <input type="OHours" class="form-control" id="overloadHours" value="{{prefillHoursOverload}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="Total">Total Hours Per Week:</label>
        <div>
          <input type="Total" class="form-control" id="overloadTotal" disabled>
        </div>
      </div>
    </div>
    <!-- overload request information on the right side -->
    <div class="floatright">
      <div class="form-group">
        <label for="Reason">Reason For Overload Request:</label>
        <div>
          <textarea id= "notes" name="notes" rows="12" cols="73" required></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div align="center">
    <button id="submit" type="submit" class="btn btn-success" onclick ="checkForEmptyFields()">Submit Changes</button>
    {% include "snips/studentOverloadSubmit.html" %}
  </div>
</div>

<script language="JavaScript" type="text/javascript" src="/static/js/studentOverloadApp.js"></script>
{% endblock %}
