#wrapper {
  position: relative;
  align: center;
  width: 100%;

}

#header {
  text-align: center;
  font-weight: 650;
}

.btn-holder {
   position: relative;
   left: 700px !important;
   float:none;
   text-align:left;
}


.table {
  width: 100%;
}


th {
  text-align: center;
}

div#pendingTabs.container {
  width: 1500px;
}

div#pendingForms_length.dataTables_length {
  text-align: left;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
