#sidebar, #sidebar .container-fluid {
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 0px;
}


.panel {
    margin-bottom: 0px;
    border-radius: 0px;
}

.panel div li:hover  {
    background-color: #66c2cc;
}

.panel-group {
    margin-bottom: 0px;
}

#admindropdown {
    list-style: none;
    margin-left: 10px;
    padding-left: 0px;
}

#admindropdown li {
    margin-left: 0px;
    padding-left: 25px;
}

.navbar-header, #portal {
    clear:both;
}

.navbar-header {
    border-bottom: none;
    margin-bottom: 5px;
    height: 75px;
}

#sidebar {
    height: 10000px;
    background-color: #f5f5f5;
    padding-right: 0px;
}

.panel-group .panel-heading {
    border-bottom: none;

}

.panel-default {
border: none;
}
.panel-default:hover {
        background-color: #66c2cc;

}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
}
#admindropdown li {
    padding-top: 1px;
    padding-bottom: 0px;
}

#logo {
    opacity: .75;
}

.container {
    top: -75px;
}

