.btn-newcolor { /* for contributors page */
  background-color: #1c78c0 !important;
  color: #ffffff;
  padding: 7px 30px;
  margin-top: 100px;
  margin-right: 250px;
}
.container {
    top: -75px;
}
.btn-holder {
   position: relative;
   right: 1050 px !important;
}
#wrapper {
  width: 100%;
  margin-bottom:90px !important;
}
