.floatleft {
  float: left;
  width: 47%;
}
.floatright {
  float: right;
  width: 47%;
}
.modal-content{
  margin-top: 250px;
}
.filter-option-inner-inner{
  /* Makes titles black instead of gray */
  color: #000000 !important;
}
#buttonContainer{
  margin-top: 15px;
}
