#studentName{
  font-size: 24px;
}

.loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif') 50% 50% no-repeat rgb(249,249,249);
        }
#positionTable {
  border-collapse: collapse; /* Collapse borders */
  width: 50%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#positionTable th, #positionTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#positionTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#positionTable tr.header, #positionTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.lead{
  margin-bottom: 0px;
}

#second-line{
  margin-bottom: 0px;
  padding-left: 10px;
}

#evaluation{
  width: 50%;
  margin-bottom: 20px;
}

.pushRight {
  float: right;
}

/* #studentEvalExperience {
  display: none;
} */

#mailtoIcon{
  font-size: large;
}
