#cancel {
  margin-left: 20px;
  margin-right: 600px;
}

#student {
  background-color: #660CE8;
}

#supervisor {
  background-color: #660CE8;
}

#department {
  background-color: #660CE8;
}

#position {
  background-color: #660CE8;
  width: 540px;
}

#jobType {
  background-color: #660CE8;
    width: 540px;
}

#glyphicon {
  color: #337ab7;
}
