/*.flasher{
  margin-top: 100px;
}

#flash_container {
  margin-top: 100px;
  margin-right: 140px;
  margin-left: 20px;
}
*/

h1 {
  text-align: center;
  padding-bottom: 5px;
}

#exampleButton:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#exampleButton:active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.direction{
  height:10px;
  width:20px;
}
.complianceBtn{
  style="width:150px;
}
