#wrapper {
  position: relative;
  align: center;
  width: 100%;

}

#header {
  text-align: center;
  font-weight: 650;
}

.btn-holder {s
   position: relative;
   left: 700px !important;
}

.table {
  width: 100%;
}

th {
  text-align: center;
}
