@media(min-width:970px) and (max-width:2500px) {
  .container {
    width: 83%;
    }
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #757575;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
  color: #000;
}

.subHeader {
  text-align: center;
}

#pastPositionDescription {
  height: 100%;
  border-style: solid;
  overflow: auto;
  height: 310px;
}

#titleGlyphicon{
      font-size: 29px;
      color: #337ab7;
}

selectpicker, label {
  display: block;
}

.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#glyphicon_note{
  font-size: 29px;
  color: #337ab7;
  padding-right: 0px;
  padding-left: 26px;
}

#flash_container {
  width: 87%;
  height: 55px;
}

.card-header {
  background-color: #efebeb;
  margin-bottom: 7px;
}

.mb-0, .collapsed {
  outline-color: none;
  color: black;
  font-size: 18px;
  font-weight: 525;
}

.active, .btn-link:focus {
  background-color: #66c2cc;
}

.active, .card-header:hover {
  background-color: #66c2cc;
}

.pt-3-half {
  padding-top: 1.4rem;
}
