#titleGlyphicon{
  font-size: 29px;
  color: #337ab7;
}

.card-header {
  background-color: #efebeb;
  margin-bottom: 7px;
}

.mb-0, .collapsed {
  outline-color: none;
  color: black;
  font-size: 18px;
  font-weight: 525;
}

.active, .btn-link:focus {
  background-color: #66c2cc;
}

.active, .card-header:hover {
  background-color: #66c2cc;
}

.subHeader {
  text-align: center;
}
