/* .panel-heading.active{
  background-color: DarkBlue;
  color: white;
} */

sidebar:active, .highlight{
+  background-color: yellow;
 }



/*
a.activeMenuItem {
    color: yellow;
    background-color: black;
    font-weight: bold;
}

#sidebar a:hover,h4:hover,li:hover{
  background-color:#00008B;
  color: white;
}
#sidebar a:active,h4:active,li:active{
  background-color:#00008B;
  color: white;
}

#sidebar a:focus,h4:focus,li:focus{
  background-color:#00008B;
  color: white;
} */




/* .highlight {
  background-color: yellow;
} */
/*
#sidebar:active,highlight:active,a:visited{
  color: black;
}
#sidebar:active,highlight:active,a:active{
  color: black;
}
a:hover,a:active{
  background-color: blue;
} */
/* s */
/* a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */
