/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

#termname {
  text-align: center;
  font-weight: 650;
}

#p {
  text-align: center;
}

#sizeTermName {
  padding-left: 35px;
  padding-top: 14px;
}

#academicYear {
  font-size: 18px;
  font-weight: 550;
}

#container {
  position: relative;
  left: 105px;
  top: 20px;
}

#datepicker {
  width: 79%;
}

#rowHeaders {
  padding-left: 50px;
  padding-top: 14px;
  font-size: 16px;
}

#dates {
  padding-left: 90px;
  padding-top: 14px;
  font-size: 16px;
}

#stateDate {
  padding-top: 14px;
  font-size: 16px;
}

.btn-med{
  width: 75px;
}

.glyphicon-bookmark {
  visibility: visible;
  width: 20px;
  color: #000000;
  border-radius: 6px;
  padding: 5px;
}

/* .active, .accordion:hover {
  background-color: #1C78BB;;
} */

.ui-accordion-header.ui-state-active { background-color: #1C78BB; }

/* .x-accordion-heading .x-accordion-toggle {
  background-color: #1C78BB;
} */
