{% extends "base.html" %}

{% block app_content %}

<head>
    <style>
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      label {
        text-align: center;
      }
    </style>
</head>

<form action="/adminManagement/userInsert" method="POST">

  <h1>Manage Administrators</h1>
  <p>Add or Remove admins here</p>

{# This is for adding is financial aid admins #}


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Labor Administrators</h4>
         <div class = "form-group">
            <select class = "form-control selectpicker" title="Select User" data-width="258px"
            data-show-subtext="true" data-live-search="true" name="addAdmin">
              {% for user in users %}     <!-- placeholder for emailTemplate table database -->
                {% if user.isLaborAdmin == False %}
                  <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
                {% endif %}
              {% endfor %}
            </select>
              <button value="add" class="btn btn-success" data-toggle="modal" data-target="#modal" type="button">Add</button>
          </div>

  <div class = "form-group">
    <select class = "form-control selectpicker" title="Select User" data-width="258px"
    data-show-subtext="true" data-live-search="true" name="removeAdmin">
      {% for user in users %}     <!-- placeholder for emailTemplate table database -->
        {% if user.isLaborAdmin == True %}
          <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
        {% endif %}
      {% endfor %}
        </select>
          <button name="remove" class="btn btn-danger" value="remove">Remove</button>
        </div>
    </div>

{# Financial Aid Admins #}

    <div class="col-sm-4">
      <h4>Financial Aid Administrators</h4>
         <div class = "form-group">
               <select class = "form-control selectpicker" title="Select User" data-width="258px"
               data-show-subtext="true" data-live-search="true" name="addFinancialAidAdmin">
               {% for user in users %}     <!-- placeholder for emailTemplate table database -->
                  {% if user.isFinancialAidAdmin == False %}
                    <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
                  {% endif %}
               {% endfor %}
               </select>
        <button name="addAid" class="btn btn-success" value="addAid">Add</button>
     </div>

     <div class = "form-group">
         <select class = "form-control selectpicker" title="Select User" data-width="258px"
         data-show-subtext="true" data-live-search="true" name="removeFinancialAidAdmin">
         {% for user in users %}     <!-- placeholder for emailTemplate table database -->
           {% if user.isFinancialAidAdmin == True %}
             <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
           {% endif %}
         {% endfor %}
         </select>
        <button name="removeAid" class="btn btn-danger" value="removeAid">Remove</button>
     </div>
    </div>

{# SAAS admins #}

    <div class="col-sm-4">
      <h4>SAAS Administrators</h4>
        <div class = "form-group">
              <select class = "form-control selectpicker" title="Select User" data-width="258px"
              data-show-subtext="true" data-live-search="true" name="addSAASAdmin">
              {% for user in users %}     <!-- placeholder for emailTemplate table database -->
                 {% if user.isSaasAdmin == False %}
                   <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
                 {% endif %}
              {% endfor %}
              </select>
            <button name="addSaas" class="btn btn-success" value="addSaas">Add</button>
    </div>

           <div class = "form-group">
               <select class = "form-control selectpicker" title="Select User" data-width="258px"
               data-show-subtext="true" data-live-search="true" name="removeSAASAdmin">
               {% for user in users %}     <!-- placeholder for emailTemplate table database -->
                 {% if user.isSaasAdmin == True %}
                   <option value="{{user.username}}" data-subtext="{{user.username}}">{{user.FIRST_NAME}} {{user.LAST_NAME}}</option>
                 {% endif %}
               {% endfor %}
               </select>
              <button name="removeSaas" class="btn btn-danger" value="removeSaas">Remove</button>
           </div>
     </div>
  </div>
</div>
<div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Are you sure you want to submit?</h4>
            </div>
            <div class="modal-body">
              <p>Submitting this form will put the selected student up for release from their current
              labor position pending approval from the labor office within one business day.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button class="btn btn-success" id="submitModal">Submit</button>
            </div>
          </div>

        </div>
    </div>
</form>
{% endblock %}
