{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/pendingStatusForms.js') }}"></script>
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>
  <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename ='css/pendingForms.css')}}">
{% endblock %}

{% block title %}
{{super()}}
    Pending Forms
{% endblock %}

{% block app_content %}

<div class="container" id="wrapper" align="center">

    <b><h1 id="header"> Pending Forms </h1></b>

       <div align="center" id="pendingTabs" class="container">
     <ul  class="nav nav-pills">
       <li class="active">
          <a  href="#allPendingForms" data-toggle="tab">All Pending Forms</a>
       </li>
        <li>
          <a href="#laborPendingForms" data-toggle="tab">Pending Labor Forms</a>
        </li>
        <li>
          <a href="#modifiedPendingForms" data-toggle="tab">Pending Modified Forms</a>
        </li>
        <li>
          <a href="#overloadPendingForms" data-toggle="tab">Pending Overload Forms</a>
        </li>
        <li>
          <a href="#releasedPendingForms" data-toggle="tab">Pending Release Forms</a>
        </li>
      </ul>

      <div align="center" class="tab-content clearfix">
			  <div class="tab-pane active" id="allPendingForms">
          <div class="col-lg-12" align="center" >
            <table id="pendingForms" class="table table-striped pendingForms dataTable" >
              <!-- Made empty header tags because we need to hide the header -->
              <thead id="headTable" text-align="center" >
                <tr id="tableHeaders" class="tableHeaders"  >
                  <th> Approve </th>
                  <th>Term</th>
                  <th>Department</th>
                  <th>Supervisor</th>
                  <th> </th>
                  <th>Students</th>
                  <th> Position (WLS)</th>
                  <th>Hours</th>
                  <th>Created</th>
                  <th>Contract Dates</th>
                  <th> Edit </th>
                </tr>
              </thead>

              <tbody id="tablebody">
                {% for allForms in all_pending_forms %}
                <tr id="tableData" class="tableData" align="center">
                    <td> {# APPROVE #}
                      <input type='checkbox' id='chk_{{allForms.formID.laborStatusFormID}}' value= "{{allForms.formID.laborStatusFormID}}" />
                      <span  id="notes_{{allForms.formID.laborStatusFormID}}" onclick="getNotes({{allForms.formID.laborStatusFormID}})"
                             class="glyphicon glyphicon-book btn-lg
                                  {% if allForms.formID.supervisorNotes != None and allForms.formID.laborDepartmentNotes == None %} text-success
                                  {% elif allForms.formID.laborDepartmentNotes != None and allForms.formID.supervisorNotes == None  %} text-danger
                                  {% elif allForms.formID.supervisorNotes != None and allForms.formID.laborDepartmentNotes != None %} text-danger
                                  {% else %} text-secondary {% endif %}" data-toggle="modal" data-target="#notesModal"> </span>

                    </td>
                    <td> {# TERM #}
                      {{allForms.formID.termCode.termName}}
                    </td>
                    <td> {# DEPARTMENT #}
                      {{allForms.formID.department.DEPT_NAME}} ({{allForms.formID.department.ORG}}-{{allForms.formID.department.ACCOUNT}})
                    </td>
                    <td> {# SUPERVISOR #}
                      {{allForms.formID.supervisor.FIRST_NAME}} {{allForms.formID.supervisor.LAST_NAME}}
                    </td>
                    <td>
                      |
                    </td>
                    <td> {# STUDENT #}
                      {{allForms.formID.studentSupervisee.FIRST_NAME}}  {{allForms.formID.studentSupervisee.LAST_NAME}}  ({{allForms.formID.studentSupervisee.ID}})
                    </td>
                    <td> {# POSITON AND WLS #}
                      {{allForms.formID.POSN_TITLE}} ({{allForms.formID.WLS}})
                    </td>
                    <td> {# HOURS #}
                    {% if allForms.formID.weeklyHours != None%} {{allForms.formID.weeklyHours}} {% else %}   {{allForms.formID.contractHours}} {% endif %}
                  </td>
                  <td> {# CREATED BY #}
                    {{allForms.createdBy.username}}  <br/> {{allForms.createdDate.strftime('%m/%d/%y')}}
                  </td>
                  <td> {# CREATED DATE #}
                     {{allForms.formID.startDate.strftime('%m/%d/%y')}} -  {{allForms.formID.endDate.strftime('%m/%d/%y')}}
                  </td>
                  <td> {# EDIT #}
                    <a href="/modifyLSF/{{allForms.formID.laborStatusFormID}}"> <span id="edit_{{allForms.formID.laborStatusFormID}}" class="glyphicon glyphicon-pencil" ></span> </a>
                    <button
                    type="button"
                    class ="btn btn-danger"
                    name = "rejectBtn"
                    value = "Reject"
                    data-toggle="modal"
                    data-target="#denyModal"
                    onclick="insertDenial(this.value);">
                    Deny
                    </button>

                  </td>

                </tr>
                {% endfor %}
              </tbody>
              </table>
                <div class="btn-holder">
                  <button
                    id="approveSelected"
                    name="approveBtn"
                    type="button"
                    class="btn btn-newcolor"
                    onclick="insertApprovals();"
                    value="Approve Selected">
                    Approve Selected
                  </button>
                </div>


              <!-- START OF MODAL adding notes -->
              <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="notesModalLabel">Labor Office Notes</h4>
                    </div>
                    <div class="modal-body" >
                      <p> These notes are only for the Labor Office Staff.</p>
                      <p> Pre-fill this with the notes from the supervisor </p>
                        <div id="notesDiv">
                           <h5> <b>Supervisor Notes  </b> </h5>
                          <p id="notesText" class="notesText" </p>

                        <h5> <b>Labor Office Notes </b> </h5>

                          <textarea id="laborNotesText" rows="5" cols="60" style="resize: none;"> </textarea>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveNotes" onclick="notesInsert()">Save Notes</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END OF MODAL -->

          <!-- Modal -->
          <div class="modal fade" id="approvalModal" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" align="center"><b>Form(s) ready for Approval</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- putting info into modal using table for better viewing -->
                <table id="classTable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Student(s)</th>
                      <th scope="col">Position</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Supervisor</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close</button>
                <button id="approveModalButton" type="button" class="btn btn-primary"  data-dismiss="modal" onclick="finalApproval()" >Approve</button>
              </div>
            </div>
          </div>
        </div>

            <!-- Modal -->
          <div class="modal fade" id="denyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel" align="center"><b>Deny Labor Status Form</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to deny the selected labor status form?
                <table id="denyTable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Student(s)</th>
                      <th scope="col">Position</th>
                      <th scope="col">Supervisor</th>
                      <th scope="col">Hours</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close</button>
                <button type="button" class="btn btn-danger" onclick="finalDenial()">Deny</button>
              </div>
            </div>
          </div>
      </div>


              <!-- MODAL -->
              <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="SubmitModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div id="SubmitModalText" class="modal-body">
                      The following Labor Status form(s) will be approved:
                    </div>
                    <div class="modal-footer">
                      <button id="submitmodalid"
                              type="submit"
                              class="btn btn-primary"
                              name = "formsubmission"
                              value = "formsubmission"
                              onclick = "userInsert()">Submit</button>
                    </div>
                  </div>
              </div>
              </div>
              <!-- END OF MODAL -->
          </div>
				</div>

        </div>
				<div class="tab-pane" id="laborPendingForms">
          {% include "admin/pendingStatusForms.html" %}
				</div>
        <div class="tab-pane" id="modifiedPendingForms">
          <div class="tab-content">
            {% include "/admin/pendingModifiedForms.html" %}
          </div>
				</div>
          <div class="tab-pane" id="overloadPendingForms">
          {% include "admin/pendingOverloadForms.html" %}
				</div>
        <div class="tab-pane" id="releasedPendingForms">
          {% include "admin/pendingReleaseForms.html" %}
      </div>

   </div>
 </div>
</div>


{% endblock %}
