{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/allPendingForms.css')}}?u={{lastStaticUpdate}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/pendingNotesModal.css')}}?u={{lastStaticUpdate}}">
{% endblock %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/allPendingForms.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}
<div align="center">
  <a class="skipContent" href="#pendingLabor" tabindex="1">Click to Skip</a>
  <h1>{{title}}</h1>
</div>
<div class="container" id="wrapper">
  <div id="pendingTabs" class="container" style='display: inline-block;'>
    <ul class="nav nav-tabs" style='text-align: center;'>
      {% if currentUser.isLaborAdmin %}
        <li id='laborTab' {% if formType == "pendingLabor" %} class="active" {% endif %}>
          <a id="pendingLabor" href="{{url_for('admin.allPendingForms', formType = 'pendingLabor')}}"> Pending Labor Status Forms <strong>({{ laborStatusFormCounter }})</strong></a>
        </li>
        <li id='adjustedTab' {% if formType == "pendingAdjustment" %} class="active" {% endif %}>
          <a href="{{url_for('admin.allPendingForms', formType = 'pendingAdjustment')}}">Pending Adjustment Forms <strong>({{ adjustedFormCounter }})</strong></a>
        </li>
        {% endif %}
        {% if currentUser.isFinancialAidAdmin or currentUser.isLaborAdmin  or currentUser.isSaasAdmin %}
        <li id='overloadTab' {% if formType == "pendingOverload" %} class="active" {% endif %}>
          <a href="{{url_for('admin.allPendingForms', formType = 'pendingOverload')}}">Pending Overload Forms <strong>({{ overloadFormCounter }})</strong></a>
        </li>
        {% endif %}
        {% if (currentUser.isFinancialAidAdmin or currentUser.isSaasAdmin) and not currentUser.isLaborAdmin %}
        <li id='completedOverloadTab' {% if formType == "completedOverload" %} class="active" {% endif %}>
          <a href="{{url_for('admin.allPendingForms', formType = 'completedOverload')}}">Completed Overload Forms <strong>({{ completedOverloadFormCounter }})</strong></a>
        </li>
        {% endif %}
        {% if currentUser.isLaborAdmin %}
        <li id='releaseTab' {% if formType == "pendingRelease" %} class="active" {% endif %}>
          <a href="{{url_for('admin.allPendingForms', formType = 'pendingRelease')}}">Pending Release Forms <strong>({{ releaseFormCounter }})</strong></a>
        </li>

        <ul class= "nav nav-tabs navbar-right" style='margin-right:0px;'>
          <li id="download">
            <form method="POST" action="/admin/pendingForms/download">
              <button class="btn btn-success" id="download">Download</button>
            </form>
          </li>
        </ul>
      {% endif %}
    </ul>
  </div>
  <br> </br>
  <div align="center" class="tab-content clearfix">
    <div class="tab-pane active" id="allPendingForms">
      <div class="col-lg-12" align="center">
        <table id="pendingForms" class="table table-striped pendingForms dataTable">
          <!-- Made empty header tags because we need to hide the header -->
          <thead id="headTable" text-align="center">
            <tr id="tableHeaders" class="tableHeaders">
              {% if formType != "pendingOverload" and formType != "pendingRelease" and formType !="completedOverload" %}
              <th> Approve <input type="checkbox" id="checkAll"/></th>
              {% endif %}
              <th>Term</th>
              <th>Department</th>
              <th>Supervisor</th>
              <th>Students</th>
              <th> Position (WLS)</th>
              <th>Hours</th>
              <th>Contract Dates</th>
              {% if formType == "pendingAdjustment" %}
                <th>Effective Date</th>
              {%endif%}
              <th>Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tablebody">
            <!-- IF Financial aid is logged form type is overload then overload form set variable to finaidforms otherwise set the var to formlist  -->
            <!-- IF financialAid is logged in and form type is approved overload then set variable to approved finaid forms  -->
            <!--  -->
            {% for allForms in formList %}
            <tr id="tableData" class="tableData" align="center">
              {% if formType != "pendingOverload" and formType != "pendingRelease" and formType !="completedOverload" %}
                {% if allForms.formHistoryID in pendingOverloadFormPairs %}
                  <td> {# REDIRECT #}
                    {% with modalTarget = modalTarget %}
                    {% endwith %}
                    <a role="menuitem" href="#"
                      <span id="{{pendingOverloadFormPairs[allForms.formHistoryID]}}"
                        onclick="loadOverloadModal({{pendingOverloadFormPairs[allForms.formHistoryID]}}, {{allForms.formID.laborStatusFormID}});"
                       aria-label="Pending Overload Form" title="Manage Overload Form" class="glyphicon glyphicon-exclamation-sign fa-lg"
                       style="color:red; top: 10px"></span></a>
                  </td>
                {% else %}
                  <td> {# APPROVE #}
                    <input class="approveCheckbox" type='checkbox' id='chk_{{allForms.formHistoryID}}' value="{{allForms.formHistoryID}}" name="check[]" autocomplete="off" />
                  </td>
                {% endif %}
              {% endif %}
              <td> {# TERM #}
                {{allForms.formID.termCode.termName}}
              </td>
              <td> {# DEPARTMENT #}
                <a href="#" aria-label="{{allForms.formID.department.ORG}}-{{allForms.formID.department.ACCOUNT}}" class="hover_indicator"> {{allForms.formID.department.DEPT_NAME}} </a>
              </td>
              <td> {# SUPERVISOR #}
                {% if allForms.adjustedForm.fieldAdjusted == "supervisor" %}
                  <a aria-label="{{allForms.formID.supervisor.ID}}" class="hover_indicator"><s aria-hidden="true">{{allForms.formID.supervisor.FIRST_NAME}} {{allForms.formID.supervisor.LAST_NAME}}</s></a> <a href="mailto:{{allForms.formID.supervisor.EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
                  <br/>
                  <a aria-label="{{allForms.adjustedForm.oldValue['ID']}}" class="hover_indicator">{{allForms.adjustedForm.newValue}} </a><a href="mailto:{{allForms.adjustedForm.oldValue['email']}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
                {% else %}
                  <a aria-label="{{allForms.formID.supervisor.ID}}" class="hover_indicator">{{allForms.formID.supervisor.FIRST_NAME}} {{allForms.formID.supervisor.LAST_NAME}} </a><a href="mailto:{{allForms.formID.supervisor.EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
                {% endif %}
              </td>
              <td> {# STUDENT #}
                <a aria-label="{{allForms.formID.studentSupervisee.ID}}" class="hover_indicator">{{allForms.formID.studentSupervisee.FIRST_NAME}}  {{allForms.formID.studentSupervisee.LAST_NAME}} </a><a href="mailto:{{allForms.formID.studentSupervisee.STU_EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
              </td>
              <td data-order="{{allForms.formID.jobType}}"> {# POSITON AND WLS #}
                {% if allForms.adjustedForm.fieldAdjusted == "position"%}
                  <s aria-hidden="true"><a href="#" aria-label="{{allForms.formID.POSN_TITLE}}" class="hover_indicator">{{allForms.formID.POSN_CODE}} ({{allForms.formID.WLS}})</a></s><br/>
                  <a href="#" aria-label="{{allForms.adjustedForm.oldValue}}" class="hover_indicator"> {{allForms.adjustedForm.newValue}}</a><br>
                  {{allForms.formID.jobType}}
                {% else %}
                  <a href="#" aria-label="{{allForms.formID.POSN_TITLE}}" class="hover_indicator">{{allForms.formID.POSN_CODE}} ({{allForms.formID.WLS}})</a><br>
                  {{allForms.formID.jobType}}
                {% endif %}
              </td>
              <td> {# HOURS #}
                {% if allForms.adjustedForm.fieldAdjusted == "weeklyHours"  or  allForms.adjustedForm.fieldAdjusted == "contractHours" %}
                  <s aria-hidden="true">{% if allForms.formID.weeklyHours != None%} {{allForms.formID.weeklyHours}} {% else %}   {{allForms.formID.contractHours}} {% endif %}</s> <br> {{allForms.adjustedForm.newValue}}
                {% else %}
                  {% if allForms.formID.weeklyHours != None%} {{allForms.formID.weeklyHours}} {% else %}   {{allForms.formID.contractHours}} {% endif %}
                {% endif %}
              </td>
              <td> {# CONTRACT DATE #}
                 {{allForms.formID.startDate.strftime('%m/%d/%y')}} <br/>  {{allForms.formID.endDate.strftime('%m/%d/%y')}}
              </td>
              {% if formType == "pendingAdjustment" %}
                <td> {# EFFECTIVE DATE #}
                     {{allForms.adjustedForm.effectiveDate.strftime('%m/%d/%y')}}
                </td>
              {% endif %}
              <td> {# CREATED BY #}
                <a aria-label="{{allForms.createdBy.supervisor.ID}}" class="hover_indicator">{{allForms.createdBy.username}} </a><a href="mailto:{{allForms.createdBy.supervisor.EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>  <br/> {{allForms.createdDate.strftime('%m/%d/%y')}}
              </td>
              <td> {# ACTION #}
                {% if allForms.historyType.historyTypeName != 'Labor Release Form' %}
                <div class="modal fade" id="overloadModal" role="dialog" data-backdrop="true" tabindex="-1" aria-labelledby="overloadModalLabel" aria-describedby="overloadModalBody">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div id="content" class="modal-content">
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if allForms.historyType.historyTypeName == 'Labor Release Form' %}
                <div class="modal fade" id="modalRelease" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel" aria-describedby="releaseModalBody">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div id="content" class="modal-content">
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="dropdown">
                  {% include "snips/FormsDeny.html" %}
                  {% include "snips/pendingNotesModal.html" %}
                  <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" onclick="notesCounter({{allForms.formID.laborStatusFormID}}, {{allForms.formHistoryID}})">Actions
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="min-width: 100%;">
                    {% if allForms.historyType.historyTypeName == 'Labor Overload Form' %}
                    <li role="presentation"><a role="menuitem" href="#"
                      <span id="{{allForms.formHistoryID}}"
                            onclick="loadOverloadModal({{allForms.formHistoryID}}, {{allForms.formID.laborStatusFormID}});">Manage</span></a>
                    </li>
                    {% elif allForms.historyType.historyTypeName == 'Labor Release Form' %}
                    <li role="presentation"><a role="menuitem" href="#"
                      <span id="{{allForms.formHistoryID}}"
                            onclick="loadReleaseModal({{allForms.formHistoryID}}, {{allForms.formID.laborStatusFormID}});">Manage</span></a></li>
                    {% elif allForms.formHistoryID in pendingOverloadFormPairs %}
                    <li role="presentation"><a role="menuitem" href="#"
                      <span id="{{allForms.formHistoryID}}"
                            onclick="loadOverloadModal({{pendingOverloadFormPairs[allForms.formHistoryID]}}, {{allForms.formID.laborStatusFormID}});">Manage</span></a></li>
                    {% else %}
                    <li role="presentation"><a role="menuitem" href="#"
                      <span id="reject_{{allForms.formHistoryID}}"
                            onclick="insertDenial({{allForms.formHistoryID}})"
                            data-toggle="modal"
                            data-target="#denyModal">Deny</span></a></li>
                    {% endif %}
                    {% if allForms.historyType.historyTypeName == 'Labor Status Form' %}
                    <li role="presentation"><a role="menuitem" href="/alterLSF/{{allForms.formID.laborStatusFormID}}">
                        <span id="edit_{{allForms.formID.laborStatusFormID}}">Modify</span></a></li>
                    {% endif %}
                    <li role="presentation"><a role="menuitem" href="#"
                      <span id="notes_{{allForms.formHistoryID}}"
                            onclick="getNotes({{allForms.formID.laborStatusFormID}})"
                            data-toggle="modal"
                            data-target="#NotesModal">View Notes</span></a></li>
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if formType != 'pendingOverload' and formType != 'pendingRelease' and formType != 'completedOverload'%}
        <div style='float:left'>
          <button
            id="approveSelected"
            name="approveBtn"
            type="button"
            class="btn btn-newcolor"
            onclick="insertApprovals();"
            value="Approve Selected"
            data-target="#approvalModal"
            data-toggle="modal">
            Approve Selected
          </button>
        {% include "snips/pendingApprovalModal.html" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
