{% extends "base.html" %}

​{% block scripts %}
{{super()}}
<script type=text/javascript src="{{url_for('static', filename='js/emailTemplates.js')}}"></script>
{% endblock %}

{% block app_content %}

<head>
  <script src="/static/js/ckeditor/ckeditor.js"></script>
</head>
<a class="skipContent" href="#recipient" tabindex="1">Click to Skip</a>
<h1 class="col-md-12" style="text-align:center">Email Templates</h1>

<div class="form-group col-md-3">    <!-- This is a blank div so our select pickers would move to the right -->

</div>
<div class="form-group col-md-6" margin-left="500px">
  <div class="form-group col-md-12">
      <div>
          <p class="required-mark">* Marked fields are required</p>
      </div>
    <label for="Recipient"><span class="tooltip-right" data-tooltip="Required">Recipient<span class="required-mark"> *</span></span></label>
      <select class="selectpicker"
        name='recipient'
        id='recipient'
        data-live-search='false'
        title="Select Recipient"
        data-width="100%"
        onchange="populateFormType()">
        {% for value in recipient %}
           <option value="{{value.audience}}">{{value.audience}}</option>
        {% endfor %}
     </select>
  </div>
  <div class="form-group col-md-12">
    <label for="Form Type"><span class="tooltip-right" data-tooltip="Required">Form Type<span class="required-mark"> *</span></span></label>
      <select class="selectpicker"
        name='formType'
        id='formType'
        data-live-search='false'
        title="Select Form Type"
        data-width="100%"
        onchange="populateAction()"
        disabled
        >
     </select>
  </div>
  <div class="form-group col-md-12">
    <label for="Action"><span class="tooltip-right" data-tooltip="Required">Action<span class="required-mark"> *</span></span></label>
      <select class="selectpicker"
        name='action'
        id='action'
        data-live-search='false'
        title="Select Action"
        data-width="100%"
        onchange="populatePurpose()"
        disabled>
     </select>
  </div>
  <div class="form-group col-md-12">
  <label for="Subject"><span class="tooltip-right" data-tooltip="Required">Subject<span class="required-mark"> *</span></span></label>
    <input class="form-control"
      type="text"
      name='subject'
      id='subject'
      placeholder="Subject of Email"
      data-width="100%"
      onchange=""
      disabled>
   </input>
  </div>

  <div class="form-group col-md-12">
  <label for="Body"><span class="tooltip-right" data-tooltip="Required">Body<span class="required-mark"> *</span></span></label>
  <textarea name="editor1" id="editor1"></textarea>
              <script>
                      CKEDITOR.replace( 'editor1' );
              </script>
  </div>

  <div class="col-md-6">
      <button type="button" class="btn btn-danger" align="right" onclick="discard()">Discard Changes</button>
  </div>

  <div class="col-md-6" style="text-align:right;">
      <button type="button" id="submit" class="btn btn-success" onclick="saveChanges()">Save Changes</button>
  </div>

  <!-- Modal that will be rendered on the click of the submit button -->
  {% include "snips/emailTemplatesModal.html" %}


</div>


{% endblock %}
