{% extends "base.html" %}

​{% block scripts %}
{{super()}}
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/dropdownCK.js')}}"></script> -->
<script type=text/javascript src="{{url_for('static', filename='js/emailTemplates.js')}}"></script>
{% endblock %}

{% block app_content %}

<head>
  <!-- <link rel="stylesheet" href="emailTemplates.css"> -->
    <style>
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    </style>
    <meta charset="utf-8">
    <title>CKEditor</title>
    <!-- <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script> -->
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script src="/static/js/ckeditor/plugin.js"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/dropdownCK.js')}}"></script> -->
</head>
<h1 class="col-md-12">Email Templates</h1>

<div class="form-group col-md-3">    <!-- This is a blank div so our select pickers would move to the right -->

</div>
<div class="form-group col-md-6" margin-left="500px">
  <div class="form-group col-md-12">
    <label for="Recipient">Recipient</label>
      <select class="selectpicker"
        name='recipient'
        id='recipient'
        data-live-search='true'
        title="Recipient"
        data-width="100%"
        onchange="populatePurpose()">
           <option value="student">Student</option>
           <option value="supervisor">Staff</option>
     </select>
  </div>

  <div class="form-group col-md-12">
  <label for="Purpose">Purpose</label>
    <select class="selectpicker"
      name='purpose'
      id='purpose'
      data-live-search='true'
      title="Purpose"
      data-width="100%"
      onchange="getEmailTemplate()">
   </select>
  </div>

  <div class="form-group col-md-12">
  <label for="Subject">Subject</label>
    <!-- <select class="selectpicker"
      name='subject'
      id='subject'
      data-live-search='true'
      title="Subject"
      data-width="100%"
      style="background-color: red;"
      disabled>
   </select> -->
     <input type="text"
     class="form-control"
     id="subject"
     style = "background-color:#dcdee4;"
     placeholder="Subject"
     readonly></input>
  </div>

  <div class="form-group col-md-12">
  <label for="Body">Body</label>
  <textarea name="editor1" id="editor1"></textarea>
              <script>
                      CKEDITOR.replace( 'editor1' );
              </script>
  </div>

  <div class="col-md-6">
      <button type="button" class="btn btn-danger" align="right" onclick="discard()" location.reload()>Discard Changes</button>
  </div>


  <div class="col-md-6" style="text-align:right;">
      <button type="button" id="submit" class="btn btn-success">Save Changes</button>
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to save?</h4>
        </div>
        <div class="modal-body">
          <p>Saving these changes will change the selected email template.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:left">Close</button>
          <button type="submit" name="submit" value="submit" class="btn btn-success" id="submitModal" onclick="postEmailTemplate()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
