{% extends "finAidBase.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/financialAidOverload.css')}}">
{% endblock %}

{% block app_content %}
<!-- ?holds the heading and the student name -->
<div id="wrapper" align="center">
  <b><h2 id="header"> Financial Aid (SAS) Labor Overload Approval </h2></b>
      <br> </br>
    <h3 id = "student"> Anne Otieno: B00716979 <h3>
</div>

<!-- a two column layout for the student labor information -->
<div class = "container" align = "center">
<div class="row" align = "center">
  <div class = "column" align = "left">
    <h4>Current Position (s)</h4> <br>
      <p>Position:</p> <br>
      <p>Total Hours:</p> <br>
      <p>Supervisor:</p> <br>
      <p>Department:</p>
  </div>
  <div class = "column" align = "left">
    <h4>Overload Request Info</h4>
      <p>Position:</p>
      <p>Hours:</p>
      <p>Contract Date:</p>
      <p>Supervisor:</p>
      <p>Department:</p>
      <p>Total Hours with Overload:</p> <br>
      <div class="form-group">
        <h4>Student's Overload Reason:</h4>
        <div>
          <textarea type="text" class="form-control" id="jobType" value="" readonly></textarea>
        </div>
      </div>
      <div class="form-group">
        <h4>Labor Office Notes:</h4>
        <div>
          <textarea type="text" class="form-control" id="jobType" value="" readonly></textarea>
        </div>
      </div>
      <div class="btn-holder" align = "center">
        {% include "snips/financialAidOverloadModals.html" %}
        <button
          id="Approve"
          name="approveBtn"
          type="button"
          class="btn btn-success"
          value="Approve Selected"
          data-target="#finOverloadModal1"
          data-toggle="modal">
          Approve
        </button>
        <button
          id="Approve"
          name="denyBtn"
          type="button"
          class="btn btn-danger"
          value="Deny Student"
          data-target="#finOverloadModal"
          data-toggle="modal">
          Deny
        </button>
      </div>
  </div>

</div>
</div>







{% endblock %}
