{% extends "base.html" %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/manageDepartments.js') }}"></script>
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>
{% endblock %}
{% block app_content %}
<div class="wrapper">

  <h1> Manage Departments </h1>
  <p class="text-center">In Compliance: Position descriptions are up to date.</p>
  <p class="text-center">Not in Compliance: Position descriptions are not up to date</p>

  <table class="table table-striped table-bordered" id="departmentsTable">
    <thead>
      <tr>
        <th>Department</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Biology</th>
        <td><button type="button" class="btn btn-success" value="play">In Compliance</button></td>
      </tr>
      <tr>
        <th scope="row">Chemistry</th>
        <td><button type="button" class="btn btn-danger" value="play">Not in Compliance</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
