{% extends "base.html" %}

{% block app_content %}
<script src="/static/js/manageDepartments.js"</script>
<link rel="stylesheet" href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
<div class="wrapper">

  <h1> Manage Departments </h1>
  <p class="text-center">In Compliance: Position descriptions are up to date.</p>
  <p class="text-center">Not in Compliance: Position descriptions are not up to date</p>

  <table class="table table-borderless" id="departmentsTable">
    <thead>
      <tr>
        <th>Department</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Biology</th>
        <td><button type="button" class="btn btn-success" value="play">In Compliance</button></td>
      </tr>
      <tr>
        <th scope="row">Chemistry</th>
        <td><button type="button" class="btn btn-danger" value="play">Not in Compliance</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
