{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/pendingStatusForms.js') }}"></script>
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>
  <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename ='css/pendingForms.css')}}">
{% endblock %}

{% block title %}
{{super()}}
    Pending Forms
{% endblock %}

{% block app_content %}

<div class="container" id="wrapper" align="center">

  <div class="container">
    <b><h1 id="header"> Pending Forms </h1></b>
  </div>
     <div align="center" id="pendingTabs" class="container">
     <ul  class="nav nav-pills">
       <li class="active">
          <a  href="#allPendingForms" data-toggle="tab">All Pending Forms</a>
       </li>
        <li>
          <a href="#laborPendingForms" data-toggle="tab">Pending Labor Forms</a>
        </li>
        <li>
          <a href="#modifiedPendingForms" data-toggle="tab">Pending Modified Forms</a>
        </li>
        <li>
          <a href="#overloadPendingForms" data-toggle="tab">Pending Overload Forms</a>
        </li>
      </ul>

      <div align="center" class="tab-content clearfix">
			  <div class="tab-pane active" id="allPendingForms">
          <h3>Content's background color is the same for the tab</h3>
				</div>
				<div class="tab-pane" id="laborPendingForms">
          <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
				</div>
        <div class="tab-pane" id="modifiedPendingForms">
          <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
				</div>
          <div class="tab-pane" id="overloadPendingForms">
          <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
  </div>




    </div>
  <div class="col-lg-12" align="center" >
    <table id="pendingForms" class="table table-striped pendingForms dataTable" >
      <!-- Made empty header tags because we need to hide the header -->
      <thead id="headTable" text-align="center" >
        <tr id="tableHeaders" class="tableHeaders"  >
          <th> Approve </th>
          <th>Term</th>
          <th>Department</th>
          <th>Supervisor</th>
          <th> </th>
          <th>Students</th>
          <th> Position (WLS)</th>
          <th>Hours</th>
          <th>Created</th>
          <th>Contract Dates</th>
          <th> Edit </th>
        </tr>
      </thead>

      <tbody id="tablebody">
        {% for formHistory in pending_labor_forms %}
        <tr id="tableData" class="tableData" align="center">
            <td> {# APPROVE #}
              <input type='checkbox' id='chk_{{formHistory.formID.laborStatusFormID}}' value= "{{formHistory.formID.laborStatusFormID}}" />
              <span  id="notes_{{formHistory.formID.laborStatusFormID}}" onclick="getNotes({{formHistory.formID.laborStatusFormID}})"
                     class="glyphicon glyphicon-book btn-lg
                          {% if formHistory.formID.supervisorNotes != None and formHistory.formID.laborDepartmentNotes == None %} text-success
                          {% elif formHistory.formID.laborDepartmentNotes != None and formHistory.formID.supervisorNotes == None  %} text-danger
                          {% elif formHistory.formID.supervisorNotes != None and formHistory.formID.laborDepartmentNotes != None %} text-danger
                          {% else %} text-secondary {% endif %}" data-toggle="modal" data-target="#notesModal"> </span>

            </td>
            <td> {# TERM #}
              {{formHistory.formID.termCode.termName}}
            </td>
            <td> {# DEPARTMENT #}
              {{formHistory.formID.department.DEPT_NAME}} ({{formHistory.formID.department.ORG}}-{{formHistory.formID.department.ACCOUNT}})
            </td>
            <td> {# SUPERVISOR #}
              {{formHistory.formID.supervisor.FIRST_NAME}} {{formHistory.formID.supervisor.LAST_NAME}}
            </td>
            <td>
              |
            </td>
            <td> {# STUDENT #}
              {{formHistory.formID.studentSupervisee.FIRST_NAME}}  {{formHistory.formID.studentSupervisee.LAST_NAME}}  ({{formHistory.formID.studentSupervisee.ID}})
            </td>
            <td> {# POSITON AND WLS #}
              {{formHistory.formID.POSN_TITLE}} ({{formHistory.formID.WLS}})
            </td>
            <td> {# HOURS #}
            {% if formHistory.formID.weeklyHours != None%} {{formHistory.formID.weeklyHours}} {% else %}   {{formHistory.formID.contractHours}} {% endif %}
          </td>
          <td> {# CREATED BY #}
            {{formHistory.createdBy.username}}  <br/> {{formHistory.createdDate.strftime('%m/%d/%y')}}
          </td>
          <td> {# CREATED DATE #}
             {{formHistory.formID.startDate.strftime('%m/%d/%y')}} -  {{formHistory.formID.endDate.strftime('%m/%d/%y')}}
          </td>
          <td> {# EDIT #}
            <a href="/modifyLSF/{{formHistory.formID.laborStatusFormID}}"> <span id="edit_{{formHistory.formID.laborStatusFormID}}" class="glyphicon glyphicon-pencil" ></span> </a>
            <button
                  id="reject_{{formHistory.formID.laborStatusFormID}}"
                  type="button"
                  class ="btn btn-danger"
                  name = "rejectBtn"
                  value = "Reject"
                  data-toggle="modal" data-target="#rejectModal">
                  Deny
            </button>

          </td>

        </tr>
        {% endfor %}
      </tbody>
      </table>
        <div class="btn-holder">
          <button
            id="approveSelected"
            name="approveBtn"
            type="button"
            class="btn btn-newcolor"
            onclick="insertApprovals();"
            value="Approve Selected">
            Approve Selected
          </button>
        </div>
      </div>


      <!-- START OF MODAL adding notes -->
      <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="notesModalLabel">Labor Office Notes</h4>
            </div>
            <div class="modal-body" >
              <p> These notes are only for the Labor Office Staff.</p>
              <p> Pre-fill this with the notes from the supervisor
                <div id="notesDiv">
                   <h5> <b>Supervisor Notes  </b> </h5>
                  <p id="notesText" class="notesText" </p>


                <h5> <b>Labor Office Notes </b> </h5>

                  <textarea id="laborNotesText" rows="5" cols="60" style="resize: none;"> </textarea>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveNotes" onclick="notesInsert()">Save Notes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF MODAL -->

      <!-- START OF MODAL reject pending-->
      <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="rejectModalLabel">Reject Status Form</h4>
            </div>
            <div class="modal-body">
              ...For Rejection #FIXME: Look at old rejection interface
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF MODAL-->

      <!-- MODAL -->
      <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="SubmitModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div id="SubmitModalText" class="modal-body">
              The following Labor Status form(s) will be approved:
            </div>
            <div class="modal-footer">
              <button id="submitmodalid"
                      type="submit"
                      class="btn btn-primary"
                      name = "formsubmission"
                      value = "formsubmission"
                      onclick = "userInsert()">Submit</button>
            </div>
          </div>
      </div>
      </div>
      <!-- END OF MODAL -->
</div>
{% endblock %}
