{% extends "base.html" %}

{% block styles %}
    {{super()}}
     <link rel="stylesheet" href="{{url_for('static', filename ='css/termManagement.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/termManagement.js')}}"></script>
{% endblock %}

{% block app_content %}
<div class="container" id="wrapper">
  <b>
  <h1 id="termHeader">Term Management</h1>
  </b>
  <p id="subHeader">Click on the collapsible panel to open and close it.</p>

  <div class="accordion" id="accordionExample">
  {% for terms in listOfTerms %}
    <div class="card">
      <div class="card-header" id="heading_{{terms[0]}}">
        <button class="btn btn-link" type="button" id="academicYear_{{terms[0]}}" data-toggle="collapse" data-target="#{{terms[0]}}" aria-expanded="true" aria-controls="{{terms[0]}}">
          <h4 class="mb-0">
          Academic Year: {{(terms[0]|string)[:4]}}-{{(((terms[0]|string)[:4])|int)+1}}        <!-- this was the only way to get the Academic year to show properly... sorry -->
          </h4>
        </button>
      </div>
      <div id="{{terms[0]}}" class="collapse" aria-labelledby="heading_{{terms[0]}}" data-parent="#accordionExample">
    <table class="table table-condensed" class="card-body" id="myTable">
      <thead>
        <tr id="tableHeaders">
            <th>Term Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Term State
              <span class="glyphicon glyphicon-bookmark"
              <a data-toggle="tooltip" data-tooltip="true"
              title="Opening a term allows you to add labor forms to the term that has been opened.
              Closing a term prevents you from adding labor forms."
              data-placement="right" id="glyphicon"
              </a>
              </span>
            </th>
        </tr>
        </thead>
        <tbody>

          {% for term in terms %}
                <tr>
                  <td id="sizeTermName">{{term.termName}}</td> {# checks to see if the start date is empty #}
                  {% if term.termStart == None %}
                    <td>

                      <div class="input-group date">
                        <input id="start_{{term.termCode}}" onchange="getDate(this, {{term.termCode}})" type="text" class="form-control" class="datepicker" class="start" placeholder="MM/DD/YYYY" data-startEnd="start"/>
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>

                    </td>
                  {% endif %}

                  {% if term.termStart != None %} {# checks to see if the start date is not empty #}
                  <td>
                    <div class="input-group date">
                      <input id="start_{{term.termCode}}" onchange="getDate(this, {{term.termCode}})" type="text" class="form-control datepicker start" data-startEnd="start1" value="{{term.termStart.strftime('%m/%d/%Y')}}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                  </td>
                  {% endif %}

                  {% if term.termEnd == None %} {# checks to see if the end date is empty #}
                    <td>
                      <div class="input-group date">
                          <input id="end_{{term.termCode}}" onchange="getDate(this, {{term.termCode}})" type="text" class="form-control" class="datepicker" placeholder="MM/DD/YYYY" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </td>
                  {% endif %}

                  {% if term.termEnd != None %} {# checks to see if the end date is not empty #}
                  <td>
                    <div class="input-group date">
                        <input id="end_{{term.termCode}}" onchange="getDate(this, {{term.termCode}})" type="text" class="form-control" class="datepicker" value="{{term.termEnd.strftime('%m/%d/%Y')}}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                  </td>
                  {% endif %}

                  {% if term.termStart != None and term.termEnd != None and term.termState != None %}  {# checks to see if there are dates in the term #}
                  <td>
                    <button
                      id="term_btn_{{term.termCode}}"
                      name="termBtn" type="button"
                      class="{% if term.termState == True %} btn btn-success btn-med {% elif term.termState == False %} btn btn-danger btn-med {% endif %}"
                      onclick="termStatus({{term.termCode}})"
                      value="{{term.termState}}">{% if term.termState == True %} Open {% elif term.termState == False %} Closed {% endif %}</button>
                  </td>
                    {% elif term.termStart == None or term.termEnd == None or term.termState == None %}  {# checks to see if the there is a datepicker that is empty, if there is have an inactive button #}
                     <td>
                       <button disabled
                       id="term_btn_{{term.termCode}}"
                       name="termBtn" type="button"
                       class="{% if term.termState == True %} btn btn-success btn-med {% elif term.termState == False %} btn btn-danger btn-med {% endif %}"
                       onclick="termStatus({{term.termCode}})"
                       value="{{term.termState}}">{% if term.termState == True %} Open {% elif term.termState == False %} Closed {% endif %}
                       </button>
                     </td>
                    {% endif %}
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
