{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="{{url_for('static', filename='js/allPendingForms.js') }}"></script>
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/visitTracker.css')}}">
{% endblock %}

{% block title %}
{{super()}}
  Office Visit Tracker
{% endblock %}

{% block app_content %}
<div align="center">
<h1 > Labor Release Form </h1>

  <div class= "padding">
   <p>Fill out all fields in this form and click 'Submit' if you wish to release the selected
     student from their current labor position.</p>
   <p>Note: This form should only be submited if the selected student will no longer be be working in your department. Changes within the department
     (supervisor, position, hours, etc.) should be completed by submitting a labor modify form.</p>
  </div>
</div>

<div>
  <form  method="POST" id="form">
    <div class="container">

      <!-- All of the pre-populated fields on the left -->
      <div class="floatleft">
      <div class="form-group">
        <label>B#:</label>
        <div>
          <input type="text" class="form-control" id="student" value=""></input>
        </div>
      </div>
        <div class="form-group">
        <label>First Name:</label>
        <div>
          <input type="text" class="form-control" id="supervisor" value=""></input>
        </div>
        </div>
      <div class="form-group">
        <label>Last Name:</label>
        <div>
          <input type="text" class="form-control" id="department" value=""></input>
        </div>
      </div>
      <div class="form-group">
        <label>Comments:</label>
        <div>
          <textarea type="text" class="form-control" id="jobType" value="" readonly></textarea>
        </div>
      </div>
      </div>
{% endblock %}
