<div class="modal fade" id="finOverloadModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="notesModalLabel">Reasons for Denial</h4>
      </div>
      <div class="modal-body" >
        <p align = "left"> You have selected "Deny" for this student's Overload Request. Please indicate a reasoning for this decision.</p>
            <textarea id="laborNotesText" rows="5" cols="60" style="resize: none;" required> </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="finAidNotes">Submit</button>
      </div>
     </div>
   </div>
 </div>
</div>
