<!-- start of modal -->
   <div class="modal fade" id="freshmanWarning" role="dialog">
       <div class="modal-dialog modal-dialog-center" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Warning</h4>
           </div>
           <div class="modal-body">
             <p> Our system shows that you are classified as a freshman.</p>
             <p><b>In order to be considered for an overload, you need to have sophomore, junior, or senior classification.</b></p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://berea.edu'">Okay</button>
           </div>
         </div>
       </div>
     </div>
<!-- end of modal -->
