<!-- START OF MODAL adding notes -->
<div class="modal fade" id="overloadFormNotesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <strong><h6 class="modal-title" id="notesModalLabel">Labor Office Notes </h6></strong>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>

          </div>
          <div class="modal-body" >
            <div id="notesDiv">
               <label id="supeNotesLabel" class="col-md-4 control-label text-left" for ="supervisor">Supervisor Notes: </label>
                  <textarea id="notesText" rows="2" cols="70" disabled> </textarea>
              <label class="col-md-4 control-label text-left" for ="laboroffice" align = "left"> Labor Office Notes: </label>
                  <textarea id="laborNotesText" rows="2" cols="70"> </textarea>
            </div>
          <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveNotes" onclick="notesInsert()">Save Notes</button>
    </div>
  </div>
</div>
</div>
</div>
