<div class="modal fade" id="modalOverload" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" align="center"><b>Labor Overload Form</b></h2>
      </div>
      <div class="modal-body">
        <table id="overloadStudentTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Student</th>
              <th scope="col">Position</th>
              <th scope="col">Hours</th>
              <th scope="col">Supervisor</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <p><strong>Student's Reason for Overload:</strong></p>
        <textarea id='studentOverloadReason' name="name" rows="4" cols="80" style="max-width:100%;resize:none" disabled></textarea>
        <table id="overloadDepartmentTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Last Email Date</th>
              <th scope="col">Status</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="">
          <input type="radio" id="approve" name="gender" value="male">
          <label for="approve">Approve</label>
          <input type="radio" id="approveRel" name="gender" value="female">
          <label for="approveRel">Approve Reluctantly</label>
          <input type="radio" id="deny" name="gender" value="other">
          <label for="deny">Deny</label>
        </div>
        <div id="denyTextarea" style="display:none">
          <p><strong>Reason for denial:</strong></p>
          <textarea id='denyOverloadReason' name="name" rows="4" cols="80" style="max-width:100%;resize:none" placeholder=""></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-2" align="left">
          <button type="button" class="btn btn-secondary floatleft" id="close"
          data-dismiss="modal"  onclick="location.reload()">Close</button>
        </div>
          <div class="col-sm- floatright" align="right" >
          <button type="button" class="btn btn-success floatright" id="submitOverload">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
