<!-- Modal -->
<div class="modal fade in" id="approvalModal" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-describedby="approveModalBody">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="approvalModalLabel" align="center"><strong>Form(s) ready for Approval</strong></h5>
      <button type="button" class="close" data-dismiss="modal" onclick="approvalModalClose()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="overflow: auto;height: 350px" id="approveModalBody">
        <!-- putting info into modal using table for better viewing -->
        <table id="classTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Student(s)</th>
              <th scope="col">Position</th>
              <th scope="col">Hours</th>
              <th scope="col">Supervisor</th>
            </tr>
          </thead>
          <tbody id="classTableBody">
          </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="approvalModalClose()">Close</button>
      <button id="approveModalButton" type="button" class="btn btn-primary"  data-dismiss="modal" onclick="finalApproval()" >Approve</button>
    </div>
  </div>

</div>
</div>
