<div class="loader"></div>
      <div class="modal-header">
        <h3 class="modal-title" align="center"><strong>Labor Release Form</strong></h3>
      </div>
      <div class="modal-body" id="releaseModalBody">
        <table id="releaseStudentTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Student</th>
              <th scope="col">Position</th>
              <th scope="col">Hours</th>
              <th scope="col">Supervisor</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
          <tbody>
            {% for form in historyForm %}
            <tr>
              <td colspan="1">{{form.formID.studentSupervisee.FIRST_NAME}} {{form.formID.studentSupervisee.LAST_NAME}}</td>
              <td>{{form.formID.POSN_TITLE}}</td>
              <td>{{form.formID.weeklyHours}}</td>
              <td>{{form.formID.supervisor.FIRST_NAME}} {{form.formID.supervisor.LAST_NAME}}</td>
              <td>{{form.formID.department.DEPT_NAME}}</td>
            </tr>
          </tbody>
        </table>
        <table id="releaseDepartmentTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Condition at Release</th>
              <th scope="col">Release Request Date</th>
              <th scope="col">Date Submitted</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align:center">{{form.releaseForm.conditionAtRelease}}</td>
              <td style="text-align:center">{{form.releaseForm.releaseDate.strftime('%m/%d/%y')}}</td>
              <td style="text-align:center">{{form.createdDate.strftime('%m/%d/%y')}}</td>
            </tr>
            <tr>
              <td style="text-align: center"><strong>Release Reason</strong></td>
              <td colspan='2'>{{form.releaseForm.reasonForRelease}}</td>
            </tr>
          </tbody>
        </table>
        <p class="status-warning" style="color:red;" hidden><span class="glyphicon glyphicon-exclamation-sign"></span><strong>A Status is required in order to submit</strong></p>
        <div id='radioDivRelease'>
          <button id="modalNote_{{formHistoryID}}" onclick="toggleNotesLog({{laborStatusFormID}}, {{formHistoryID}})" style='float: left; margin-top: -10px;' class='btn btn-sm btn-primary'>View Notes ({{noteTotal}})</button>
          <span>Status:<span aria-hidden="true" style="color:red"><strong>*</strong></span></span>
          <label for="approveRelease" class="radio-inline">
            <input type="radio" id="approveRelease" class='release' name="decision" value="approve" onclick="displayModalTextArea(this.value)">Approve</input>
          </label>
          <label for="denyRelease" class="radio-inline">
            <input type="radio" id="denyRelease" class='release' name="decision" value="deny" onclick="displayModalTextArea(this.value, this.class)">Deny</input>
          </label>
        </div>
        <div id="notesTextAreaRelease" class="notesTextArea">
          <textarea id='releaseNotes' class="finalNote" name="name" rows="4" cols="80" style="max-width:100%;resize:none" placeholder="Enter a note"></textarea>
          <p id="banner-warning" style="color:blue;" hidden><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Please ensure the student's form has been updated in <strong>Banner</strong> before approving the release form.</strong></p>
        </div>
        <div id="denyTextAreaRelease" class="denyTextArea" style="display:None">
          <p class="required-error" style="color:red;" hidden><span class="glyphicon glyphicon-exclamation-sign"></span><strong> This field is required</strong></p>
          <textarea id='denyReleaseReason' class="finalDeny" name="name" rows="4" cols="80" style="max-width:100%;resize:none" placeholder="Enter a reason for denial"></textarea>
        </div>
        <div class="logNotesDiv" style='display:none'>
          <h4 class="supeNotesLabel col-md-4 control-label text-left" for="supervisor">Supervisor Notes: </h4>
          <textarea class="notesText" rows="2" cols="70" disabled> </textarea>
          <h4 class=" control-label text-left" id="notesLogHeader" for="notesLog">Notes Log:</h4>
          <div class="notesLogArea"></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-2" align="left">
          <button type="button" class="btn btn-secondary floatleft" id="close" data-dismiss="modal" onclick="location.reload()">Close</button>
        </div>
        <div class="col-sm- floatright" align="right">
          <button type="button" class="btn btn-success floatright" id="submitRelease" onclick="submitRelease({{form.formHistoryID}})">Submit</button>
        </div>
      </div>
      {% endfor %}
