  <!-- NOTES MODAL -->
  <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="notesModalLabel">Labor Office Notes</h4>
        </div>
        <div class="modal-body" >
          <p> These notes are only for the Labor Office Staff.</p>
          <p> Pre-fill this with the notes from the supervisor </p>
            <div id="notesDiv">
               <h5> <b>Supervisor Notes  </b> </h5>
              <p id="notesText" class="notesText" </p>
            <h5> <b>Labor Office Notes </b> </h5>
              <textarea id="laborNotesText" rows="5" cols="60" style="resize: none;"> </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveNotes" onclick="notesInsert()">Save Notes</button>
        </div>
       </div>
     </div>
   </div>
  </div>
  <!-- END OF NOTES MODAL -->

  <!-- APPROVAL MODAL -->
  <div class="modal fade" id="approvalModal" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" align="center"><b>Form(s) ready for Approval</b></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <div class="modal-body">
          <!-- putting info into modal using table for better viewing -->
          <table id="classTable" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Student(s)</th>
                <th scope="col">Position</th>
                <th scope="col">Hours</th>
                <th scope="col">Supervisor</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close</button>
      <button id="approveModalButton" type="button" class="btn btn-primary"  data-dismiss="modal" onclick="finalApproval()" >Approve</button>
    </div>
   </div>
  </div>
  <!-- END OF APPROVAL MODAL -->

  <!-- DENY MODAL -->
  <div class="modal fade" id="denyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel" align="center"><b>Deny Labor Status Form</b></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
        <div class="modal-body">
          Are you sure you want to deny the selected labor status form?
          <table id="denyTable" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Student(s)</th>
                <th scope="col">Position</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close</button>
      <button type="button" class="btn btn-danger" onclick="finalDenial()">Deny</button>
      </div>
     </div>
    </div>
  </div>
  <!-- END OF DENY MODAL -->


  <!-- SUBMIT MODAL -->
  <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="SubmitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div id="SubmitModalText" class="modal-body">
          The following Labor Status form(s) will be approved:
        </div>
        <div class="modal-footer">
          <button id="submitmodalid"
                  type="submit"
                  class="btn btn-primary"
                  name = "formsubmission"
                  value = "formsubmission"
                  onclick = "userInsert()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF SUBMIT MODAL -->
