{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/studentHistoryModal.css')}}?u={{lastStaticUpdate}}"/>
{% endblock %}

<div class="loader"></div>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  {% for form1 in statusForm %}
  <span style="text-align: right;"><button type="button" class="btn btn-default btn col-sm-2" id="print" onclick="fillPDF({{form1.laborStatusFormID}})"><span class="glyphicon glyphicon-print"></span> Print</button></span>
  <span class="h3 col-sm-9 modalHeader">
      {{form1.studentSupervisee.FIRST_NAME}} {{form1.studentSupervisee.LAST_NAME}} <a href="mailto:{{form1.studentSupervisee.STU_EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
      <br><span class="h4">{{form1.studentSupervisee.ID}}</span>
      {% if form1.studentSupervisee.FIRST_NAME + " " + form1.studentSupervisee.LAST_NAME != form1.studentName %}
      <div class="original-name">Originally filed under "{{form1.studentName}}"</div>
      {% endif %}
  </span>
  {% endfor %}
</div>
<div class="modal-body" id="modalid">
  {% for form1 in statusForm %}
    <dl class="row">
      <dt class="col-sm-3">Term</dt>
      <dd class="col-sm-9">{{form1.termCode.termName}}</dd>

      <dt class="col-sm-3">Department</dt>
      <dd class="col-sm-9">{{form1.department.DEPT_NAME}}</dd>

      <dt class="col-sm-3">Supervisor</dt>
      <dd class="col-sm-9">{{form1.supervisor.FIRST_NAME}} {{form1.supervisor.LAST_NAME}} - {{form1.supervisor.ID}} <a href="mailto:{{form1.supervisor.EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a></dd>

      <dt class="col-sm-3">Job Type (Hours)</dt>
      <dd class="col-sm-9">{{form1.jobType}}
        ({% if form1.weeklyHours == None %}{{form1.contractHours}}{% else %}{{form1.weeklyHours}}{% endif %})
      </dd>

      <dt class="col-sm-3">Position (WLS)</dt>
      <dd class="col-sm-9">{{form1.POSN_CODE}} - {{form1.POSN_TITLE}} ({{form1.WLS}})</dd>
    </dl>
  {% endfor %}
  <hr>
  {% for form in forms %}
    {% if form.adjustedForm == None and form.releaseForm == None and form.overloadForm == None %}
      {% if form.reviewedDate == None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-plus-sign" style="color:green;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-plus-sign" style="color:green;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{form.status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
           <div class="row">
             <p class="control-label col-sm-6 pTag" align="right">Reject Reason: </p>
           <div class="col-sm-6">
             <textarea class="rejectReasonTextArea" rows="3" cols="25" readonly>{{form.rejectReason}}</textarea>
           </div>
           </div>
        </div>
        {% endif %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-plus-sign" style="color:green;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}

    {% elif form.releaseForm != None %}
      {% if form.reviewedDate == None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-minus-sign" style="color:red;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-minus-sign" style="color:red;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{form.status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
          <div class="row">
            <p class="col-sm-4 pTag">Reject Reason:</p>
          <div class="col-sm-7">
            <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
          </div>
          </div>
        </div>
        {% endif %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-minus-sign" style="color:red;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}
        <div class="smallDataMargin">
          <div class="row" style="padding-top:5px">
            <p class="col-sm-4 releaseTopRows pTag">Condition at Release:</p>
          <div class="col-sm-7" align="left">
            <p>{{form.releaseForm.conditionAtRelease}}</p>
          </div>
          </div>
          <div class="row">
            <p class="col-sm-4 releaseTopRows pTag" align="left">Release Date:</p>
          <div class="col-sm-7" align="left">
            <p>{{form.releaseForm.releaseDate.strftime('%m-%d-%Y')}}</p>
          </div>
          </div>
          <div class="row">
            <p class="col-sm-4 bottomRows pTag">Reason for release:</p>
          <div class="col-sm-7" align="left">
            <textarea class="releaseReasonTextArea" rows="2" cols="45" readonly>{{form.releaseForm.reasonForRelease}}</textarea>
          </div>
          </div>
        </div>
    {% elif form.adjustedForm != None %}
    {% if form.reviewedDate == None %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-pencil" style="color:blue;font-size:85%"></span> {{form.historyType}}</div>
        <div class="col-sm-2" align="left">Submitted</div>
      </div>
    {% elif form.reviewedDate != None %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-pencil" style="color:blue;font-size:85%"></span> {{form.historyType}}</div>
        <div class="col-sm-2" align="left">{{form.status}}</div>
      </div>
      {% if form.status.statusName == "Denied" %}
      <div class="leftMargin">
        <div class="row">
          <p class="col-sm-4 pTag">Reject Reason:</p>
        <div class="col-sm-7">
          <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
        </div>
        </div>
      </div>
      {% endif %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-pencil" style="color:blue;font-size:85%"></span> {{form.historyType}}</div>
        <div class="col-sm-2" align="left">Submitted</div>
      </div>
    {% endif %}
      <div class="row">
        <p class="col-sm-11 smallDataMargin pTag">{{form.adjustedForm.fieldAdjusted}} changed from {{form.adjustedForm.oldValue}} to {{form.adjustedForm.newValue}}</p>
      </div>

    {% elif form.overloadForm != None %}
      {% if form.reviewedDate == None %}
        <div class="h4 overloadBottom">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{form.status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
          <div class="row">
            <p class="col-sm-4 nopadding pTag">Reject Reason:</p>
          <div class="col-sm-7">
            <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
          </div>
          </div>
        </div>
        {% endif %}
        <div class="h4 overloadBottom">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}

    {% endif %}

  {% endfor %}

</div>

<div class="modal-footer" id="modalFooter">
  {% for form1 in statusForm %}
  {% if buttonState == ButtonStatus.show_rehire_button %}
  <div class = "col-sm-12">
  <a id="rehire" href="#"><button type="submit" name="submit" value="submit" class="btn btn-success" onclick="redirection({{form1.laborStatusFormID}})">Rehire</button></a>
  </div>
  {% elif buttonState == ButtonStatus.show_withdraw_button %}
    <div class = "col-sm-12">
    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick = "withdrawform({{form1.laborStatusFormID}})">Withdraw</button>
    </div>
  {% elif buttonState == ButtonStatus.show_withdraw_correction_buttons %}
  <div class = "col-sm-6">
  <button type="button" class="btn btn-danger" data-dismiss="modal" onclick = "withdrawform({{form1.laborStatusFormID}})">Withdraw</button>
  </div>
  <div class = "col-sm-6">
  <a id="alter" href="#"><button type="button" class="btn btn-info" onclick="redirection({{form1.laborStatusFormID}})">Modify</button></a>
  </div>
  {% elif buttonState == ButtonStatus.show_release_adjustment_rehire_buttons %}
  <div class = "col-sm-4" style="text-align: right">
  <a id="release" href="#"><button type="button" class="btn btn-danger" onclick="redirection({{form1.laborStatusFormID}})">Release</button></a>
  </div>
  <div class = "col-sm-4">
  <a id="alter" href="#"><button type="button" class="btn btn-info" onclick="redirection({{form1.laborStatusFormID}})">Adjustment Form</button></a>
  </div>
  <div class = "col-sm-4" style="text-align:left">
  <a id="rehire" href="#"><button type="submit" name="submit" value="submit" class="btn btn-success" onclick="redirection({{form1.laborStatusFormID}})">Rehire</button></a>
  </div>
  {% elif buttonState == ButtonStatus.show_release_rehire_buttons %}
  <div class = "col-sm-6">
  <a id="release" href="#"><button type="button" class="btn btn-danger" onclick="redirection({{form1.laborStatusFormID}})">Release</button></a>
  </div>
  <div class = "col-sm-6">
  <a id="rehire" href="#"><button type="submit" name="submit" value="submit" class="btn btn-success" onclick="redirection({{form1.laborStatusFormID}})">Rehire</button></a>
  </div>
  {% elif buttonState == ButtonStatus.no_buttons_pending_forms %}
  <div class = "col-md-12">
  <p style="color:blue;" class="pTag"><span class="glyphicon glyphicon-exclamation-sign"></span><strong> Changes to a form are unavailable when a {{pendingformType}} is 'Pending'.</strong></p>
  </div>
  {% elif buttonState == ButtonStatus.show_student_view %}
  <div class = "col-md-12"></div>
  {% endif %}
  {% endfor %}
</div>
