<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% for form in statusForm %}
        <h2 class="modal-title" align="center">{{form.studentSupervisee.FIRST_NAME}} {{form.studentSupervisee.LAST_NAME}}</h2>
        {% endfor %}
      </div>
      <div class="modal-body" id="modalid">
        {% for form in statusForm %}
          <h4 align="center">{{form.termCode.termName}} - {{form.POSN_TITLE}} {{form.POSN_CODE}}, {{form.WLS}}, {{form.jobType}}</h4>
        {% endfor %}
        {% for form in forms %}
          {% if form.modifiedForm == None and form.releaseForm == None and form.overloadForm == None %}
            {% if form.reviewedDate == None %}
              <p align="center">{{form.createdDate}} Place Holder Form Type Submitted</p>
              <p align="center">{{form.createdBy.FIRST_NAME}} {{form.createdBy.LAST_NAME}} - {{form.formID.department.DEPT_NAME}} Department</p>
              <p align="center">{{form.formID.weeklyHours}}</p>
            {% elif form.reviewedDate != None %}
              <p align="center">{{form.reviewedDate}} Place Holder Form type {{form.status}}</p>
              <p align="center">{{form.createdDate}} Place Holder Form Type Submitted</p>
              <p align="center">{{form.createdBy.FIRST_NAME}} {{form.createdBy.LAST_NAME}} - {{form.formID.department.DEPT_NAME}} Department</p>
              <p align="center">{{form.formID.weeklyHours}}</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" name="submit" value="submit" class="btn btn-success" id="submitModal">Submit</button>
      </div>
    </div>
  </div>
</div>
