{# see: https://pythonhosted.org/Flask-Bootstrap/ #}
{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}   {# Allows us to add stylesheets without overwriting existing ones already imported elsewhere (e.g., flask-bootstrap #}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
{{super()}}
    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap-select.js') }}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Labor Status Forms{% else %}Welcome to Labor Status Forms{% endif %}
{% endblock %}
    {% block html_attribs %} lang="en"{% endblock %}

{% block navbar %}
    {{nav.thenavbar.render()}}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

