{# see: https://pythonhosted.org/Flask-Bootstrap/ #}
{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}   {# Allows us to add stylesheets without overwriting existing ones already imported elsewhere (e.g., flask-bootstrap #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/base.css') }}?u={{lastStaticUpdate}}">
    <link rel="stylesheet" href="/static/css/tooltip.css?u={{lastStaticUpdate}}" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/sidebar.css') }}?u={{lastStaticUpdate}}">

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/base.js') }}?u={{lastStaticUpdate}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/sidebar.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Labor Status Forms{% else %}Welcome to Labor Status Forms{% endif %}
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block content %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

<div class="body-container">
    <div class="col-xs-10 sidebar-push">
        <div id="flash_container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert  alert-{{category}} alert-dismissible" role="alert" id="flasher">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block app_content %}
            {# application content needs to be provided in the app_content block #}
        {% endblock %}
    </div>
</div>

<div class="row bottom-buffer"></div>

{% block footer %}
<div class="footer">
    <span><strong>Issues? Contact: </strong><a href="mailto:support@bereacollege.onmicrosoft.com" class="footerlink">Systems Support </a>
    <strong>Created & Designed by the </strong><a href="/contributors" id = "contribLink" class="footerlink">Student Software Development Team</a></span>
</div>
{% endblock %}

{% endblock %}
