<div class="col-lg-12">
    <div class=" col-lg-11 navbar-header">
         <font-family= "times new roman"> <h2 class="bclp">Berea College Labor Program</h2> </font-family>
    </div>
    <div id="logo" class="col-xs-1 pull-right" ><img src="/static/laborprogram.png" title="Labor Program Logo" /></div>
</div>
<div id="sidebar" class="col-xs-2">
    <nav class="navbar">
        <div class="container-fluid">
            <div id="portal" class="panel panel-default">
                <a href="/">
                    <div class="panel-heading">
                        <h4>Supervisor Portal</h4>
                    </div>
                </a>
            </div>
            <div class="panel panel-default">
                <a href="/laborstatusform">
                    <div class="panel-heading">
                        <h4>New Labor Status Form</h4>
                    </div>
                </a>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#admin">
                        <div class="panel-heading">
                            <h4>Administration</h4>
                        </div>
                    </a>
                    <div id="admin" class="panel-collapse collapse">
                        <ul id="admindropdown" class="panel panel-default">
                            <a href="/"><li class="panel-heading"><h4>Status Forms</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Overload Forms</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Past Forms</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Manage Terms</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Manage Departments</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Manage Users</h4></li></a>
                            <a href="/"><li class="panel-heading"><h4>Manage Email Templates</h4></li></a>
                        </ul>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">
                <a href="/">
                    <div class="panel-heading">
                        <h4>
                            Logout
                        </h4>
                    </div>
                </a>
            </div>

        </div>
    </nav>
</div>
